@import url("https://use.typekit.net/iui3juu.css");
@font-face {
  font-family: 'Nodesto';
  src: url("../assets/fonts/NodestoCapsCondensed.otf"); }

.archmage-preload {
  background: url("../assets/src/ricepaper2_@2X.png") -9999px -9999px;
  pointer-events: none; }

.nodesto {
  color: #444;
  font-family: "mason-serif", "Nodesto", "Signika", "Palatino Linotype", serif;
  font-size: 18px; }

.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  white-space: nowrap;
  width: 1px; }

.flexrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  .flexrow > * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }

.flexcol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  .flexcol > * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }

input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.35); }

input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.35); }

input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.35); }

input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.35); }

input::placeholder {
  color: rgba(0, 0, 0, 0.35); }

input[type="checkbox"] {
  zoom: 0.9; }

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0; }

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr)); }

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr)); }

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr)); }

.grid-6col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr)); }

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr)); }

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr)); }

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr)); }

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr)); }

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr)); }

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr)); }

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  border: 1px solid #999; }

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left; }

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right; }

/* ---------------------------------------- */
/* Controls Reference                       */
/* ---------------------------------------- */
#archmage-help .window-content {
  max-height: 75vh; }

#archmage-help h3 {
  border-bottom: 1px solid #111;
  font-weight: bold;
  margin: 20px 0 0; }

#archmage-help ol.hotkey-list {
  list-style: none;
  padding: 0;
  margin: 0; }

#archmage-help ol.hotkey-list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0;
  padding: 5px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.15); }

#archmage-help ol.hotkey-list > li > * {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

#archmage-help ol.hotkey-list > li > .flex0 {
  display: block;
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0; }

#archmage-help ol.hotkey-list > li > .flex1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

#archmage-help ol.hotkey-list > li > .flex2 {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2; }

#archmage-help ol.hotkey-list > li > .flex3 {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3; }

#archmage-help ol.hotkey-list h4 {
  margin: 0;
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  line-height: 24px; }

#archmage-help ol.hotkey-list .keys {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3; }

#archmage-help .key {
  display: inline-block;
  margin: 0 1px;
  padding: 2px 4px;
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid #999;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px #444;
  box-shadow: 1px 1px #444;
  text-align: center;
  min-width: 24px; }

#chat-log .message {
  font-family: "warnock-pro", "sans-serif";
  background: url("../assets/src/ricepaper2_@2X.png");
  background-attachment: local;
  background-size: 300px;
  font-size: 14px; }
  #chat-log .message.whisper {
    -webkit-box-shadow: inset 0 0 25px -5px #5e0080;
    box-shadow: inset 0 0 25px -5px #5e0080; }
  #chat-log .message.blind {
    -webkit-box-shadow: inset 0 0 25px -5px #ddb20b;
    box-shadow: inset 0 0 25px -5px #ddb20b; }
  #chat-log .message p {
    margin: 0 0 14px 0; }

#chat-log .card-header {
  font-family: "mason-serif", "Nodesto", "Signika", "Palatino Linotype", serif; }

#chat-log .card-prop {
  line-height: 1.2; }

#chat-log .card-row p {
  line-height: 1.2; }

#chat-log .message-header .card-content {
  font-size: 14px;
  color: #000; }

.ability-usage {
  background: -o-linear-gradient(45deg, #25003c, #dc9ff1a6);
  background: linear-gradient(45deg, #25003c, #dc9ff1a6);
  color: #fff;
  padding-left: 4px;
  text-shadow: 1px 1px 2px #000; }

.ability-usage--blank {
  color: #000;
  text-shadow: none; }

.ability-usage--at-will {
  background: -o-linear-gradient(45deg, #003c15, #5ee25e);
  background: linear-gradient(45deg, #003c15, #5ee25e); }
  .colorBlindRG .ability-usage--at-will {
    background: -o-linear-gradient(45deg, #003c15, #087830);
    background: linear-gradient(45deg, #003c15, #087830); }
  .colorBlindBY .ability-usage--at-will {
    background: -o-linear-gradient(45deg, #796501, #efde89);
    background: linear-gradient(45deg, #796501, #efde89); }

.ability-usage--header {
  background: transparent; }

.ability-usage--once-per-battle {
  background: -o-linear-gradient(45deg, #3c0000, #dc0000);
  background: linear-gradient(45deg, #3c0000, #dc0000); }
  .colorBlindRG .ability-usage--once-per-battle {
    background: -o-linear-gradient(45deg, #003854, #89cdef);
    background: linear-gradient(45deg, #003854, #89cdef); }
  .colorBlindBY .ability-usage--once-per-battle {
    background: -o-linear-gradient(45deg, #4e0129, #891c54);
    background: linear-gradient(45deg, #4e0129, #891c54); }

.ability-usage--daily {
  background: -o-linear-gradient(45deg, #01003c, #ababab);
  background: linear-gradient(45deg, #01003c, #ababab); }
  .colorBlindRG .ability-usage--daily {
    background: -o-linear-gradient(45deg, #005748, #42ac9a);
    background: linear-gradient(45deg, #005748, #42ac9a); }
  .colorBlindBY .ability-usage--daily {
    background: -o-linear-gradient(45deg, #333300, #9a9a30);
    background: linear-gradient(45deg, #333300, #9a9a30); }

.ability-usage--recharge {
  background: -o-linear-gradient(45deg, #01003c, #71a2ec);
  background: linear-gradient(45deg, #01003c, #71a2ec); }
  .colorBlindRG .ability-usage--recharge {
    background: -o-linear-gradient(45deg, #695702, #decd78);
    background: linear-gradient(45deg, #695702, #decd78); }
  .colorBlindBY .ability-usage--recharge {
    background: -o-linear-gradient(45deg, #01536e, #66cdef);
    background: linear-gradient(45deg, #01536e, #66cdef); }

.ability-usage--other {
  background: -o-linear-gradient(45deg, #25003c, #dc9ff1a6);
  background: linear-gradient(45deg, #25003c, #dc9ff1a6); }
  .colorBlindRG .ability-usage--other {
    background: -o-linear-gradient(45deg, #0d0145, #301c89);
    background: linear-gradient(45deg, #0d0145, #301c89); }
  .colorBlindBY .ability-usage--other {
    background: -o-linear-gradient(45deg, #0d0145, #301c89);
    background: linear-gradient(45deg, #0d0145, #301c89); }

.archmage .editor-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  min-height: 120px; }

.archmage .editor,
.archmage .editor-content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-height: 40px; }

.archmage .editor-content {
  background: rgba(0, 0, 0, 0.05);
  padding: 4px;
  border-radius: 4px; }

.archmage .tox-tinymce,
.archmage .tox-editor-container,
.archmage .tox-sidebar-wrap,
.archmage .tox-edit-area {
  min-height: 170px;
  height: 100% !important; }

.archmage .tox-tinymce {
  height: 100% !important; }
  .archmage .tox-tinymce .tox-toolbar-overlord,
  .archmage .tox-tinymce .tox-toolbar__primary {
    background: transparent;
    border-bottom: 1px solid #000; }
  .archmage .tox-tinymce button {
    font-size: 12px;
    padding: 0;
    border: 0;
    background: transparent;
    margin: 0;
    width: auto;
    height: auto; }
  .archmage .tox-tinymce button[title="Formats"],
  .archmage .tox-tinymce button[title="Table"],
  .archmage .tox-tinymce button[title="Horizontal line"],
  .archmage .tox-tinymce button[title="Insert/edit link"] {
    display: none; }

.archmage input[type="checkbox"] {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

.archmage .tabs-primary-content {
  position: relative; }
  .archmage .tabs-primary-content .item-import {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 140px;
    flex: 0 0 140px;
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    padding: 2px 4px;
    line-height: 1;
    border-radius: 4px;
    font-size: 12px;
    background: #444;
    color: white;
    border-color: black;
    -webkit-transition: all ease-in-out 0.25s;
    -o-transition: all ease-in-out 0.25s;
    transition: all ease-in-out 0.25s; }
    .archmage .tabs-primary-content .item-import:hover, .archmage .tabs-primary-content .item-import:focus {
      -webkit-box-shadow: none;
      box-shadow: none;
      background-color: #3d64ae; }

.archmage.sheet {
  font-family: "warnock-pro", "sans-serif"; }
  .archmage.sheet h1,
  .archmage.sheet h2,
  .archmage.sheet h3,
  .archmage.sheet h4 {
    font-family: "mason-serif", "Nodesto", "Signika", "Palatino Linotype", serif; }
  .archmage.sheet .window-content {
    --background-filter: hsl(46 71% 83% / 0.8);
    --background-blend: hard-light;
    background: url(/ui/parchment.jpg), var(--background-filter);
    background-repeat: repeat;
    background-blend-mode: var(--background-blend);
    background-position: 0px 130px;
    background-attachment: local;
    background-size: 300px;
    -webkit-box-shadow: inset 0 0 32px 4px rgba(0, 0, 0, 0.45);
    box-shadow: inset 0 0 32px 4px rgba(0, 0, 0, 0.45);
    font-size: 13px;
    overflow-y: auto;
    padding: 5px; }
  .archmage.sheet form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    .archmage.sheet form > * {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1; }
    .archmage.sheet form [type='text'] {
      background: none;
      border: 1px solid transparent;
      color: #444;
      height: calc(100% - 2px);
      padding: 0;
      width: calc(100% - 2px); }
      .archmage.sheet form [type='text']:hover, .archmage.sheet form [type='text']:focus {
        border: 1px solid #111;
        -webkit-box-shadow: 0 0 8px #ff0000;
        box-shadow: 0 0 8px #ff0000; }
    .archmage.sheet form input:disabled {
      color: #444; }
    .archmage.sheet form select:disabled,
    .archmage.sheet form textarea:disabled {
      color: #444; }
    .archmage.sheet form input:hover, .archmage.sheet form input:focus, .archmage.sheet form input:disabled,
    .archmage.sheet form select:hover,
    .archmage.sheet form select:focus,
    .archmage.sheet form select:disabled,
    .archmage.sheet form textarea:hover,
    .archmage.sheet form textarea:focus,
    .archmage.sheet form textarea:disabled,
    .archmage.sheet form input:hover,
    .archmage.sheet form input:focus,
    .archmage.sheet form input:disabled,
    .archmage.sheet form select:hover,
    .archmage.sheet form select:focus,
    .archmage.sheet form select:disabled,
    .archmage.sheet form textarea:hover,
    .archmage.sheet form textarea:focus,
    .archmage.sheet form textarea:disabled {
      border: 1px solid transparent;
      -webkit-box-shadow: none;
      box-shadow: none; }
    .archmage.sheet form span,
    .archmage.sheet form label {
      display: block; }
    .archmage.sheet form .mce-panel span {
      display: inherit; }
    .archmage.sheet form.editable .rollable:hover {
      color: #000;
      cursor: pointer;
      text-shadow: 0 0 10px #ff0000; }
    .archmage.sheet form .sheet-header {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      height: 44px;
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1; }
    .archmage.sheet form .sheet-body {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      height: calc(100% - 44px);
      -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
      order: 3; }
    .archmage.sheet form .sheet-sidebar {
      border-right: 1px solid #aaa;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 232px;
      flex: 0 0 232px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      height: calc(100% - 44px);
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2; }
      .archmage.sheet form .sheet-sidebar > * {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1; }
      .archmage.sheet form .sheet-sidebar .sheet-profile {
        border: 0;
        border-bottom: 1px solid #ccc;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 220px;
        flex: 0 0 220px;
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover; }
      .archmage.sheet form .sheet-sidebar .sheet-tabs > .item {
        font-size: 12px; }
      .archmage.sheet form .sheet-sidebar .tab {
        padding-right: 3px; }
    .archmage.sheet form .sheet-tabs {
      border-bottom: 1px solid #666;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 28px;
      flex: 0 0 28px;
      margin-top: 2px;
      padding: 0 2px; }
      .archmage.sheet form .sheet-tabs > .item {
        border-radius: 5px 5px 0 0;
        line-height: 26px;
        padding: 0 4px;
        font-weight: normal; }
        .archmage.sheet form .sheet-tabs > .item[data-tab="incrementals"] {
          -webkit-box-flex: 2;
          -ms-flex: 2;
          flex: 2; }
        .archmage.sheet form .sheet-tabs > .item.active {
          border: 1px solid #666;
          border-bottom: 0;
          -webkit-box-shadow: 0 0 10px inset #a78f77;
          box-shadow: 0 0 10px inset #a78f77;
          color: #000;
          font-weight: 700;
          text-shadow: none; }
    .archmage.sheet form .settings-group {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
      .archmage.sheet form .settings-group input,
      .archmage.sheet form .settings-group strong {
        height: 22px;
        line-height: 22px;
        width: auto; }
      .archmage.sheet form .settings-group .attribute-name {
        -webkit-box-flex: 2;
        -ms-flex: 2;
        flex: 2;
        font-weight: bold; }
      .archmage.sheet form .settings-group .attribute-input {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 32px;
        flex: 0 0 32px; }
  .archmage.sheet .item-sheet {
    display: block; }
    .archmage.sheet .item-sheet input [type='text'] {
      border: 1px solid #444; }

.archmage.actor-sheet .sheet-header {
  border-bottom: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  .archmage.actor-sheet .sheet-header > * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  .archmage.actor-sheet .sheet-header .charname {
    border: 0;
    height: 44px;
    padding: 5px 5px 5px 0; }
    .archmage.actor-sheet .sheet-header .charname > input {
      border: 0;
      color: #444;
      font-family: "mason-serif", "Nodesto", "Signika", "Palatino Linotype", serif;
      font-size: 36px;
      margin: 0;
      width: 100%; }
  .archmage.actor-sheet .sheet-header .charlevel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 150px;
    flex: 0 0 150px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 44px;
    text-align: right; }
    .archmage.actor-sheet .sheet-header .charlevel > * {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1; }
    .archmage.actor-sheet .sheet-header .charlevel .level {
      color: #444;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
      flex: 0 0 20px;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      font-family: "mason-serif", "Nodesto", "Signika", "Palatino Linotype", serif;
      font-size: 20px;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      line-height: 20px;
      width: 100%; }
      .archmage.actor-sheet .sheet-header .charlevel .level > * {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1; }
      .archmage.actor-sheet .sheet-header .charlevel .level > [type='text'] {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 26px;
        flex: 0 0 26px;
        height: 20px;
        text-align: center; }
    .archmage.actor-sheet .sheet-header .charlevel .xpbar {
      background: #666;
      border: 1px solid #000;
      border-radius: 3px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 8px;
      flex: 0 0 8px;
      width: 100%; }
      .archmage.actor-sheet .sheet-header .charlevel .xpbar .bar {
        background: #afebff;
        border: 1px solid #000;
        border-radius: 2px;
        display: block;
        height: 4px;
        margin: 1px; }
    .archmage.actor-sheet .sheet-header .charlevel .experience {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 16px;
      flex: 0 0 16px;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
      .archmage.actor-sheet .sheet-header .charlevel .experience > * {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1; }
      .archmage.actor-sheet .sheet-header .charlevel .experience > [type='text'] {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        height: 16px;
        text-align: right; }

.archmage.actor-sheet .tab {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 380px;
  flex: 1 0 380px; }
  .archmage.actor-sheet .tab .background,
  .archmage.actor-sheet .tab .background__item,
  .archmage.actor-sheet .tab .icon,
  .archmage.actor-sheet .tab .icon__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin: 0; }
  .archmage.actor-sheet .tab .background__item--name,
  .archmage.actor-sheet .tab .icon__item--name {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  .archmage.actor-sheet .tab .background__item--bonus,
  .archmage.actor-sheet .tab .icon__item--bonus {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 28px;
    flex: 0 0 28px;
    margin: 0;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    text-align: center; }
  .archmage.actor-sheet .tab .background__item--bonus::before {
    content: '+';
    display: inline-block; }
  .archmage.actor-sheet .tab .icon__item.rollable {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 4px;
    font-size: 16px; }

.archmage.actor-sheet .directory-list--backgrounds,
.archmage.actor-sheet .directory-list--icons {
  padding: 0; }

.archmage.actor-sheet .backgrounds .directory-list {
  padding: 0; }

.archmage.actor-sheet .details {
  border-bottom: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  list-style: none;
  margin: 0;
  min-height: 30px;
  padding: 0; }
  .archmage.actor-sheet .details .character-detail {
    border-right: 1px solid #ccc;
    float: left;
    height: 24px;
    margin: 3px 0;
    padding-left: 3px;
    width: 33.33%; }
    .archmage.actor-sheet .details .character-detail:last-child {
      border-right: 0; }
    .archmage.actor-sheet .details .character-detail > input,
    .archmage.actor-sheet .details .character-detail .attribute-label {
      color: #444;
      font-family: "mason-serif", "Nodesto", "Signika", "Palatino Linotype", serif;
      font-size: 20px; }
  .archmage.actor-sheet .details .character-detail--race,
  .archmage.actor-sheet .details .character-detail--class {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
    float: none;
    height: 24px;
    line-height: 24px; }

.archmage.actor-sheet .primary-attributes {
  border-bottom: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 80px;
  flex: 0 0 80px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  .archmage.actor-sheet .primary-attributes > * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  .archmage.actor-sheet .primary-attributes .attribute {
    border-right: 1px solid #ccc;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    height: 72px;
    margin: 4px 0;
    padding: 0 4px; }
    .archmage.actor-sheet .primary-attributes .attribute.attribute--recoveries {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 21%;
      flex: 0 0 21%; }
    .archmage.actor-sheet .primary-attributes .attribute.attributes--health {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 27%;
      flex: 0 0 27%; }
    .archmage.actor-sheet .primary-attributes .attribute.attribute--weapons {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%; }
    .archmage.actor-sheet .primary-attributes .attribute:last-child {
      margin-right: 0; }
    .archmage.actor-sheet .primary-attributes .attribute .attribute-name {
      border-bottom: 1px solid #ccc;
      color: #444;
      font-family: "mason-serif", "Nodesto", "Signika", "Palatino Linotype", serif;
      font-size: 18px;
      height: 22px;
      line-height: 22px;
      margin: 0 0 2px;
      position: relative;
      text-align: center; }
      .archmage.actor-sheet .primary-attributes .attribute .attribute-name .npc-roll-hp {
        position: absolute;
        right: 2px; }
    .archmage.actor-sheet .primary-attributes .attribute .attribute-display,
    .archmage.actor-sheet .primary-attributes .attribute .attribute-value {
      font-family: "warnock-pro", "sans-serif";
      text-align: center; }
    .archmage.actor-sheet .primary-attributes .attribute .attribute-value {
      color: #444;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      font-family: "warnock-pro", "sans-serif";
      font-size: 20px;
      height: 25px;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      line-height: 25px;
      text-align: center; }
      .archmage.actor-sheet .primary-attributes .attribute .attribute-value > * {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1; }
    .archmage.actor-sheet .primary-attributes .attribute .attribute-footer {
      height: 16px;
      text-align: center; }
      .archmage.actor-sheet .primary-attributes .attribute .attribute-footer span {
        display: inline-block; }
      .archmage.actor-sheet .primary-attributes .attribute .attribute-footer.attribute-footer--temp-hp, .archmage.actor-sheet .primary-attributes .attribute .attribute-footer.attribute-footer--disengage {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border-top: 1px solid #ccc;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        height: auto;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        .archmage.actor-sheet .primary-attributes .attribute .attribute-footer.attribute-footer--temp-hp > span, .archmage.actor-sheet .primary-attributes .attribute .attribute-footer.attribute-footer--disengage > span {
          border-right: 1px solid rgba(0, 0, 0, 0.25);
          -webkit-box-flex: 65%;
          -ms-flex: 65%;
          flex: 65%;
          padding: 0 4px;
          text-align: center;
          font-weight: bold;
          font-size: 12px; }
          .archmage.actor-sheet .primary-attributes .attribute .attribute-footer.attribute-footer--temp-hp > span.attribute-subname--grow, .archmage.actor-sheet .primary-attributes .attribute .attribute-footer.attribute-footer--disengage > span.attribute-subname--grow {
            -webkit-box-flex: 100%;
            -ms-flex: 100%;
            flex: 100%;
            font-size: 12px;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            white-space: nowrap;
            padding: 2px; }
        .archmage.actor-sheet .primary-attributes .attribute .attribute-footer.attribute-footer--temp-hp > input, .archmage.actor-sheet .primary-attributes .attribute .attribute-footer.attribute-footer--disengage > input {
          -webkit-box-flex: 35%;
          -ms-flex: 35%;
          flex: 35%;
          padding: 0 2px;
          text-align: center; }
      .archmage.actor-sheet .primary-attributes .attribute .attribute-footer input {
        max-width: 24px; }
        .archmage.actor-sheet .primary-attributes .attribute .attribute-footer input.temphp, .archmage.actor-sheet .primary-attributes .attribute .attribute-footer input.disengage-adjustment {
          max-width: 100%; }
        .archmage.actor-sheet .primary-attributes .attribute .attribute-footer input.hit-dice {
          max-width: 16px;
          min-width: 16px;
          text-align: right; }
        .archmage.actor-sheet .primary-attributes .attribute .attribute-footer input[name='data.attributes.speed.value'] {
          max-width: none;
          text-align: left; }
        .archmage.actor-sheet .primary-attributes .attribute .attribute-footer input.speed, .archmage.actor-sheet .primary-attributes .attribute .attribute-footer input.hpformula {
          max-width: 90%; }
      .archmage.actor-sheet .primary-attributes .attribute .attribute-footer .temphp + .attribute-subname {
        border-left: 1px solid rgba(0, 0, 0, 0.25); }
      .archmage.actor-sheet .primary-attributes .attribute .attribute-footer .rest {
        background: rgba(0, 0, 0, 0.03);
        border: 1px solid #ccc;
        border-radius: 2px;
        padding: 0 2px; }
      .archmage.actor-sheet .primary-attributes .attribute .attribute-footer.recharge [type='checkbox'] {
        margin: 1px; }
  .archmage.actor-sheet .primary-attributes .attribute--defenses {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2; }

.archmage.actor-sheet .statuses {
  border-bottom: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 29px;
  flex: 0 0 29px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0; }
  .archmage.actor-sheet .statuses > * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  .archmage.actor-sheet .statuses .status {
    border-right: 1px solid #ccc;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: 14px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    line-height: 28px;
    padding: 0 6px; }
    .archmage.actor-sheet .statuses .status > * {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1; }
    .archmage.actor-sheet .statuses .status.death {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%; }
    .archmage.actor-sheet .statuses .status:last-child {
      border-right: 0; }
    .archmage.actor-sheet .statuses .status h4 {
      color: #444;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      font-family: "mason-serif", "Nodesto", "Signika", "Palatino Linotype", serif;
      font-size: 18px;
      margin: 0; }
    .archmage.actor-sheet .statuses .status .status-value {
      -webkit-box-flex: 0;
      -ms-flex: none;
      flex: none; }
      .archmage.actor-sheet .statuses .status .status-value > * {
        display: inline-block;
        margin-right: 5px; }
      .archmage.actor-sheet .statuses .status .status-value > input[type='text'] {
        height: 20px;
        margin: 0;
        max-width: 20px; }
      .archmage.actor-sheet .statuses .status .status-value > input[type='checkbox'] {
        position: relative;
        top: 2px; }

.archmage.actor-sheet .tabs-primary-content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.archmage.actor-sheet .biography {
  height: 100%; }
  .archmage.actor-sheet .biography .editor {
    height: 100%;
    padding-left: 8px; }

.archmage.npc-sheet .character-detail {
  width: 25%; }

.archmage.npc-sheet .biography .editor {
  height: 465px; }

.archmage.sheet .item-sheet .sheet-header, .archmage.actor-sheet .item-sheet .sheet-header, .archmage.npc-sheet .item-sheet .sheet-header, .archmage.item-sheet .item-sheet .sheet-header {
  height: 44px;
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0; }
  .archmage.sheet .item-sheet .sheet-header img, .archmage.actor-sheet .item-sheet .sheet-header img, .archmage.npc-sheet .item-sheet .sheet-header img, .archmage.item-sheet .item-sheet .sheet-header img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 44px;
    flex: 0 0 44px;
    width: 44px;
    height: 44px;
    max-height: 100%; }

.archmage.sheet .editor, .archmage.actor-sheet .editor, .archmage.npc-sheet .editor, .archmage.item-sheet .editor {
  height: 100%; }

.archmage.sheet .sheet-header input, .archmage.actor-sheet .sheet-header input, .archmage.npc-sheet .sheet-header input, .archmage.item-sheet .sheet-header input {
  height: auto;
  line-height: 1;
  width: calc(100% - 12px); }

.archmage.item-sheet .editor {
  height: 200px; }

.archmage.item-sheet .editor-content {
  background-color: rgba(255, 255, 255, 0.45);
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 4px; }

.archmage.item-sheet .form-group {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25); }
  .archmage.item-sheet .form-group > label {
    border-right: 1px solid rgba(0, 0, 0, 0.25);
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-weight: bold;
    margin-right: 4px; }

.archmage .mce-tinymce,
.archmage .mce-container-body {
  height: 100%; }

.archmage .mce-edit-area {
  -webkit-box-shadow: inset 0 -2px 0 -1px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 -2px 0 -1px rgba(0, 0, 0, 0.25);
  height: 84%; }

.archmage .mce-container-body iframe {
  height: 100% !important; }

.archmage .abilities {
  margin-bottom: 3px; }
  .archmage .abilities .abilities-list {
    list-style: none;
    margin: 0;
    padding: 0; }
  .archmage .abilities .ability-name,
  .archmage .abilities .ability-header {
    color: #444;
    font-family: "mason-serif", "Nodesto", "Signika", "Palatino Linotype", serif;
    font-size: 18px;
    margin: 0; }
  .archmage .abilities .ability {
    border-bottom: 1px solid #ccc;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 36px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    line-height: 36px; }
    .archmage .abilities .ability > * {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1; }
    .archmage .abilities .ability .ability-name {
      font-size: 15px;
      white-space: nowrap;
      overflow: hidden; }
    .archmage .abilities .ability .ability-proficiency {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
      flex: 0 0 24px; }
      .archmage .abilities .ability .ability-proficiency .fa-circle {
        font-size: 10px; }
    .archmage .abilities .ability .ability-score {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 36px;
      flex: 0 0 36px; }
      .archmage .abilities .ability .ability-score > input {
        color: #444;
        font-family: "warnock-pro", "sans-serif";
        font-size: 22px;
        height: 30px;
        margin: 3px;
        text-align: center;
        width: 30px; }
    .archmage .abilities .ability .ability-mod,
    .archmage .abilities .ability .ability-lvl {
      color: #666;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 36px;
      flex: 0 0 36px;
      font-family: "warnock-pro", "sans-serif";
      font-size: 18px;
      line-height: 24px;
      margin: 8px 0;
      text-align: center; }
    .archmage .abilities .ability .ability-mod {
      border-right: 1px solid #ccc; }
    .archmage .abilities .ability .ability-lvl {
      border-left: 1px solid #ccc; }

.archmage .skill {
  border-bottom: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 13px;
  height: 21px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  line-height: 21px; }
  .archmage .skill > * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  .archmage .skill .skill-name {
    margin: 0; }
  .archmage .skill .skill-proficiency {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 24px;
    flex: 0 0 24px; }
    .archmage .skill .skill-proficiency .fa-circle {
      font-size: 10px; }
  .archmage .skill .skill-ability {
    color: #666;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 36px;
    flex: 0 0 36px;
    margin-right: 4px;
    text-align: right; }
  .archmage .skill .skill-mod {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 28px;
    flex: 0 0 28px;
    text-align: center; }

.archmage .directory-list--weapons {
  padding: 0; }

.archmage .weapon--header {
  font-weight: bold; }

.archmage .weapon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .archmage .weapon + .weapon {
    border-top: 1px solid #999; }

.archmage .weapon__atk,
.archmage .weapon__dmg,
.archmage .weapon__miss {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 16px; }

.archmage .weapon__dmg {
  text-align: center; }

.archmage .weapon__miss {
  text-align: right; }

.archmage.locked .ability-proficiency,
.archmage.locked .skill-proficiency {
  cursor: default;
  text-shadow: none; }

.archmage .spellbook .spellcasting-ability {
  border-bottom: 1px solid #ccc;
  font-size: 12px;
  margin: 0;
  padding: 3px 3px 0; }
  .archmage .spellbook .spellcasting-ability label {
    line-height: 20px; }
  .archmage .spellbook .spellcasting-ability select {
    background: rgba(0, 0, 0, 0.05);
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 10px;
    height: 18px; }

.archmage .spellbook .spellbook-header .spell-school,
.archmage .spellbook .spellbook-header .spell-action {
  color: inherit; }

.archmage .spellbook .inventory-list {
  height: calc(100% - 28px); }

.archmage .spellbook .item-name {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2; }

.archmage .spellbook .spell-school,
.archmage .spellbook .spell-action {
  border-right: 1px solid #ccc;
  color: #666;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 12px;
  text-align: center; }

.archmage .spellbook .spell-slots {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  font-size: 12px;
  text-align: center; }

.archmage .spellbook .spell-max {
  border-right: 1px solid #ccc;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  font-size: 12px;
  text-align: center; }

.archmage .spellbook .spellbook-empty .item-controls {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.archmage .feats .feats-list .item-name {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2; }

.archmage .item-details,
.archmage .sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30px;
  flex: 0 0 30px;
  margin: 0;
  padding: 5px 0; }

.archmage .item-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none; }
  .archmage .item-details > * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  .archmage .item-details > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: 14px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: center; }
    .archmage .item-details > li > * {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1; }
  .archmage .item-details label {
    line-height: 20px; }

.archmage .consumable-charges input {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 64px;
  flex: 0 0 64px;
  margin-left: 5px;
  text-align: center; }

.archmage .sheet-tabs {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  font-size: 14px;
  font-weight: bold; }
  .archmage .sheet-tabs .active {
    text-decoration: underline; }

.archmage .editor {
  height: 300px; }

.archmage.chat-card {
  font-style: normal; }
  .archmage.chat-card .card-header {
    border-bottom: 2px groove #fff;
    border-top: 2px groove #fff;
    padding: 3px 0; }
    .archmage.chat-card .card-header img {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 36px;
      flex: 0 0 36px;
      margin-right: 5px; }
    .archmage.chat-card .card-header h3 {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      line-height: 36px;
      margin: 0; }
  .archmage.chat-card .card-content {
    margin: 5px 0; }
  .archmage.chat-card .card-buttons {
    margin: 5px 0; }
    .archmage.chat-card .card-buttons span {
      border: 1px solid #ccc;
      display: block;
      line-height: 28px;
      text-align: center; }
    .archmage.chat-card .card-buttons button {
      margin: 2px 0; }
  .archmage.chat-card .card-footer {
    border-top: 2px groove #fff;
    padding: 3px 0 0; }
    .archmage.chat-card .card-footer span {
      border-right: 2px groove #fff;
      font-size: 12px;
      padding: 0 5px 0 0; }
      .archmage.chat-card .card-footer span:last-child {
        border-right: 0;
        padding-right: 0; }

.window-app .window-content {
  background: url("../assets/src/ricepaper2_@2X.png") #fff;
  background-attachment: local;
  background-size: 300px;
  -webkit-box-shadow: inset 0 0 32px 4px rgba(0, 0, 0, 0.45);
  box-shadow: inset 0 0 32px 4px rgba(0, 0, 0, 0.45); }

.traits .form-group label {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%; }

.traits label {
  font-weight: bold; }

.currency {
  border-bottom: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 12px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 0; }
  .currency > * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  .currency .denomination {
    border-right: 1px solid #ccc;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 3px 3px 0; }
    .currency .denomination > * {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1; }
    .currency .denomination label {
      -webkit-box-flex: 0;
      -ms-flex: none;
      flex: none;
      margin-right: 3px; }
    .currency .denomination input {
      max-width: 48px;
      text-align: right; }
    .currency .denomination:last-child {
      border-right: 0; }

.tag--feat {
  background: -o-linear-gradient(45deg, #68d7f194, #ffffff00);
  background: linear-gradient(45deg, #68d7f194, #ffffff00);
  border: 0;
  margin: 4px 0; }
  .tag--feat.tag--inactive {
    opacity: 0.3; }
  .tag--feat > strong {
    display: block;
    margin: 8px 0 0 4px; }
  .tag--feat .description {
    margin-left: 12px; }
  .tag--feat p {
    margin: 0 0 8px; }

.inventory-list {
  height: calc(100% - 44px);
  list-style: none;
  margin: 0;
  overflow-y: visible;
  padding: 0; }
  .inventory-list .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    line-height: 24px;
    padding: 0; }
    .inventory-list .item:nth-child(2) {
      border-top: 1px solid #333; }
    .inventory-list .item:last-child {
      border-bottom: 1px solid #333; }
    .inventory-list .item > * {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1; }
    .inventory-list .item .item-name {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 5;
      -ms-flex: 5;
      flex: 5;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start; }
      .inventory-list .item .item-name .item-name {
        padding-left: 4px; }
      .inventory-list .item .item-name .item-image,
      .inventory-list .item .item-name h4 {
        -webkit-box-flex: 1;
        -ms-flex: auto;
        flex: auto; }
      .inventory-list .item .item-name h4 {
        font-size: 14px;
        margin: 0;
        overflow: hidden;
        padding-right: 5px;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100px; }
      .inventory-list .item .item-name .prepared {
        color: #666;
        font-size: 10px;
        margin-left: 3px; }
      .inventory-list .item .item-name .item-charges {
        color: #666;
        -webkit-box-flex: 0;
        -ms-flex: 0;
        flex: 0;
        font-size: 12px; }
      .inventory-list .item .item-name .item-image {
        background-color: rgba(0, 0, 0, 0.25); }
    .inventory-list .item .item-usage {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1; }
    .inventory-list .item .item-quantity,
    .inventory-list .item .item-weight,
    .inventory-list .item .item-type {
      border-right: 1px solid #333;
      color: #fff;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 32px;
      flex: 0 0 32px;
      font-size: 12px;
      text-align: center;
      font-size: 13px; }
    .inventory-list .item .item-type {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 110px;
      flex: 0 0 110px; }
    .inventory-list .item .item-controls {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 48px;
      flex: 0 0 48px;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .inventory-list .item .item-controls a {
        color: #666;
        display: block;
        float: left;
        font-size: 10px;
        text-align: center;
        width: 22px; }
    .inventory-list .item .item-image {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      max-width: 32px;
      width: 32px; }
    .inventory-list .item .item-summary {
      border-top: 1px solid #ccc;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      font-size: 12px;
      line-height: 16px;
      padding: .25em .5em; }
    .inventory-list .item .item-tags {
      border-bottom: 1px solid #ccc; }
    .inventory-list .item .item-tags,
    .inventory-list .item .item-properties {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .inventory-list .item .item-tags .tag,
      .inventory-list .item .item-properties .tag {
        border-right: 1px solid #ccc;
        font-size: 13px;
        padding: 0 4px; }
      .inventory-list .item .item-tags .tag--property,
      .inventory-list .item .item-properties .tag--property {
        border-right: 0;
        width: 100%; }
      .inventory-list .item .item-tags .tag--effect,
      .inventory-list .item .item-tags .tag--special,
      .inventory-list .item .item-tags .tag--feat,
      .inventory-list .item .item-properties .tag--effect,
      .inventory-list .item .item-properties .tag--special,
      .inventory-list .item .item-properties .tag--feat {
        border-right: 0;
        width: 100%; }
        .inventory-list .item .item-tags .tag--effect .description,
        .inventory-list .item .item-tags .tag--special .description,
        .inventory-list .item .item-tags .tag--feat .description,
        .inventory-list .item .item-properties .tag--effect .description,
        .inventory-list .item .item-properties .tag--special .description,
        .inventory-list .item .item-properties .tag--feat .description {
          margin-left: 8px; }
    .inventory-list .item .item-action {
      border-left: 1px solid #333;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 38px;
      flex: 0 0 38px;
      position: relative;
      text-align: center; }
      .inventory-list .item .item-action::before {
        display: block;
        position: relative;
        z-index: 1; }
    .inventory-list .item .item-action__icon {
      background: #fff;
      bottom: 0;
      -webkit-box-shadow: 0 -4px 0 0 #fff, 0 4px 0 0 #fff;
      box-shadow: 0 -4px 0 0 #fff, 0 4px 0 0 #fff;
      display: none;
      height: 3px;
      left: 0;
      margin: auto;
      opacity: .45;
      position: absolute;
      top: 0;
      width: 16px;
      z-index: 0; }
    .inventory-list .item .item-action--standard::before {
      content: 'Std.';
      display: block; }
    .inventory-list .item .item-action--move::before {
      content: 'Move';
      display: block; }
    .inventory-list .item .item-action--move .item-action__icon {
      -webkit-box-shadow: 0 -4px 0 0 #fff;
      box-shadow: 0 -4px 0 0 #fff;
      top: 3px; }
    .inventory-list .item .item-action--quick::before {
      content: 'Qck.';
      display: block; }
    .inventory-list .item .item-action--quick .item-action__icon {
      -webkit-box-shadow: none;
      box-shadow: none; }
    .inventory-list .item .item-action--free::before {
      content: 'Free';
      display: block; }
    .inventory-list .item .item-action--free .item-action__icon {
      -webkit-box-shadow: 6px 0 0 0 #fff, 12px 0 0 0 #fff;
      box-shadow: 6px 0 0 0 #fff, 12px 0 0 0 #fff;
      width: 3px; }
    .inventory-list .item .item-action--interrupt::before {
      content: 'Int.';
      display: block; }
    .inventory-list .item .item-action--interrupt .item-action__icon {
      -webkit-box-shadow: inset 0 0 0 2px #000;
      box-shadow: inset 0 0 0 2px #000; }
    .inventory-list .item .item-recharge {
      border-left: 1px solid #333;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 36px;
      flex: 0 0 36px;
      padding: 0;
      text-align: center; }
    .inventory-list .item .item-quantity,
    .inventory-list .item .item-type {
      border-left: 1px solid #333;
      text-shadow: 1px 1px 2px #000; }
    .inventory-list .item .item-type {
      text-transform: capitalize; }
    .inventory-list .item .ability-usage {
      background: -o-linear-gradient(45deg, #25003c, #dc9ff1a6);
      background: linear-gradient(45deg, #25003c, #dc9ff1a6);
      color: #fff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding-left: 4px;
      text-shadow: 1px 1px 2px #000; }
      .inventory-list .item .ability-usage h4 {
        color: #fff; }
      .inventory-list .item .ability-usage input [type='text'],
      .inventory-list .item .ability-usage > span [type='text'] {
        color: #fff;
        text-shadow: 1px 1px 2px #000; }
      .inventory-list .item .ability-usage .item-recharge {
        color: #fff;
        text-shadow: 1px 1px 2px #000; }
    .inventory-list .item .ability-usage--blank {
      color: #000;
      text-shadow: none; }
    .inventory-list .item .ability-usage--at-will {
      background: -o-linear-gradient(45deg, #003c15, #5ee25e);
      background: linear-gradient(45deg, #003c15, #5ee25e); }
      .colorBlindRG .inventory-list .item .ability-usage--at-will {
        background: -o-linear-gradient(45deg, #003c15, #087830);
        background: linear-gradient(45deg, #003c15, #087830); }
      .colorBlindBY .inventory-list .item .ability-usage--at-will {
        background: -o-linear-gradient(45deg, #796501, #efde89);
        background: linear-gradient(45deg, #796501, #efde89); }
    .inventory-list .item .ability-usage--header {
      background: transparent; }
    .inventory-list .item .ability-usage--once-per-battle {
      background: -o-linear-gradient(45deg, #3c0000, #dc0000);
      background: linear-gradient(45deg, #3c0000, #dc0000); }
      .colorBlindRG .inventory-list .item .ability-usage--once-per-battle {
        background: -o-linear-gradient(45deg, #003854, #89cdef);
        background: linear-gradient(45deg, #003854, #89cdef); }
      .colorBlindBY .inventory-list .item .ability-usage--once-per-battle {
        background: -o-linear-gradient(45deg, #4e0129, #891c54);
        background: linear-gradient(45deg, #4e0129, #891c54); }
    .inventory-list .item .ability-usage--daily {
      background: -o-linear-gradient(45deg, #01003c, #ababab);
      background: linear-gradient(45deg, #01003c, #ababab); }
      .colorBlindRG .inventory-list .item .ability-usage--daily {
        background: -o-linear-gradient(45deg, #005748, #42ac9a);
        background: linear-gradient(45deg, #005748, #42ac9a); }
      .colorBlindBY .inventory-list .item .ability-usage--daily {
        background: -o-linear-gradient(45deg, #333300, #9a9a30);
        background: linear-gradient(45deg, #333300, #9a9a30); }
    .inventory-list .item .ability-usage--recharge {
      background: -o-linear-gradient(45deg, #01003c, #71a2ec);
      background: linear-gradient(45deg, #01003c, #71a2ec); }
      .colorBlindRG .inventory-list .item .ability-usage--recharge {
        background: -o-linear-gradient(45deg, #695702, #decd78);
        background: linear-gradient(45deg, #695702, #decd78); }
      .colorBlindBY .inventory-list .item .ability-usage--recharge {
        background: -o-linear-gradient(45deg, #01536e, #66cdef);
        background: linear-gradient(45deg, #01536e, #66cdef); }
    .inventory-list .item .ability-usage--other {
      background: -o-linear-gradient(45deg, #25003c, #dc9ff1a6);
      background: linear-gradient(45deg, #25003c, #dc9ff1a6); }
      .colorBlindRG .inventory-list .item .ability-usage--other {
        background: -o-linear-gradient(45deg, #0d0145, #301c89);
        background: linear-gradient(45deg, #0d0145, #301c89); }
      .colorBlindBY .inventory-list .item .ability-usage--other {
        background: -o-linear-gradient(45deg, #0d0145, #301c89);
        background: linear-gradient(45deg, #0d0145, #301c89); }
    .inventory-list .item .ability-usage--equipment {
      background: -o-linear-gradient(45deg, #80361a, #efc44aa6);
      background: linear-gradient(45deg, #80361a, #efc44aa6); }
  .inventory-list .inventory-header {
    background: rgba(0, 0, 0, 0.05);
    font-weight: 700;
    line-height: 20px; }
    .inventory-list .inventory-header h3 {
      font-size: 1em;
      font-weight: bold;
      margin: 0;
      padding-left: 32px; }
    .inventory-list .inventory-header .item-quantity,
    .inventory-list .inventory-header .item-weight,
    .inventory-list .inventory-header .item-type {
      color: #111;
      text-shadow: none; }
    .inventory-list .inventory-header .item-controls .item-create {
      width: 100%; }

.encumbrance {
  background: rgba(0, 0, 0, 0.01);
  border: 1px solid #111;
  border-radius: 3px;
  height: 12px;
  margin-top: 5px; }
  .encumbrance .encumbrance-bar {
    background: #782e22;
    border: 1px solid #ff6400;
    border-radius: 3px;
    height: 8px;
    margin: 1px; }
  .encumbrance .encumbrance-label {
    float: right;
    font-size: 12px;
    line-height: 12px;
    padding-right: 5px;
    text-align: right; }

.class-header {
  line-height: 20px;
  margin: 3px 0 1px;
  position: relative; }
  .class-header h3 {
    color: #333;
    font-family: "mason-serif", "Nodesto", "Signika", "Palatino Linotype", serif;
    font-size: 18px;
    margin: 0;
    text-align: center; }
  .class-header .item-create {
    color: #666;
    font-size: 11px;
    position: absolute;
    right: 0;
    top: 0; }

.class-list {
  overflow: hidden; }
  .class-list .item {
    background: rgba(0, 0, 0, 0.03);
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-bottom: 3px;
    overflow: hidden;
    padding: 3px 3px 0; }
    .class-list .item .class-levels,
    .class-list .item .item-controls {
      font-size: 10px;
      line-height: 16px;
      text-align: right; }
    .class-list .item .class-levels {
      color: #333;
      font-family: "mason-serif", "Nodesto", "Signika", "Palatino Linotype", serif;
      font-size: 18px;
      padding-right: 5px; }
    .class-list .item > * {
      line-height: 20px; }
    .class-list .item .class-name,
    .class-list .item .class-subclass {
      -webkit-box-flex: 1;
      -ms-flex: 1 0 75%;
      flex: 1 0 75%;
      margin: 0; }
    .class-list .item .class-name {
      color: #333;
      font-family: "mason-serif", "Nodesto", "Signika", "Palatino Linotype", serif;
      font-size: 18px; }
    .class-list .item .class-subclass {
      color: #999;
      font-size: 13px;
      line-height: 14px; }

.archmage.sheet.actor-sheet form textarea {
  background: transparent;
  border: 1px solid transparent;
  resize: vertical; }
  .archmage.sheet.actor-sheet form textarea:hover, .archmage.sheet.actor-sheet form textarea:focus {
    border-color: #000;
    -webkit-box-shadow: 0 0 8px #ff0000;
    box-shadow: 0 0 8px #ff0000;
    outline: 0; }

.archmage.sheet.actor-sheet .textarea {
  font-family: "warnock-pro", "sans-serif";
  min-height: 110px; }

.archmage.sheet .action-sheet .form-inputs input[type='text'] {
  height: auto; }

.archmage.actor-sheet.npc-sheet .charlevel .initiative {
  color: #444;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20px;
  flex: 0 0 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-family: "mason-serif", "Nodesto", "Signika", "Palatino Linotype", serif;
  font-size: 20px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  line-height: 20px;
  width: 100%; }
  .archmage.actor-sheet.npc-sheet .charlevel .initiative > label {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  .archmage.actor-sheet.npc-sheet .charlevel .initiative > span {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 42px;
    flex: 0 0 42px;
    padding-right: 8px; }

.archmage.actor-sheet.npc-sheet .sheet-sidebar .primary-attributes {
  border-bottom: 0; }
  .archmage.actor-sheet.npc-sheet .sheet-sidebar .primary-attributes .attribute {
    border: 0;
    border-bottom: 1px solid #333;
    -webkit-box-flex: 100%;
    -ms-flex: 100%;
    flex: 100%;
    height: auto;
    width: 100%; }
  .archmage.actor-sheet.npc-sheet .sheet-sidebar .primary-attributes .attribute--defenses .attribute-value {
    height: auto; }
  .archmage.actor-sheet.npc-sheet .sheet-sidebar .primary-attributes .attribute--defenses .attribute-display {
    height: 24px; }
  .archmage.actor-sheet.npc-sheet .sheet-sidebar .primary-attributes .attribute--resistance input,
  .archmage.actor-sheet.npc-sheet .sheet-sidebar .primary-attributes .attribute--resistance textarea,
  .archmage.actor-sheet.npc-sheet .sheet-sidebar .primary-attributes .attribute--vulnerability input,
  .archmage.actor-sheet.npc-sheet .sheet-sidebar .primary-attributes .attribute--vulnerability textarea {
    font-size: 14px; }

.archmage.actor-sheet.npc-sheet .actions .item-name,
.archmage.actor-sheet.npc-sheet .actions .item-description,
.archmage.actor-sheet.npc-sheet .traits .item-name,
.archmage.actor-sheet.npc-sheet .traits .item-description,
.archmage.actor-sheet.npc-sheet .nastier-specials .item-name,
.archmage.actor-sheet.npc-sheet .nastier-specials .item-description {
  padding: 0 8px; }

.archmage.actor-sheet.npc-sheet .actions .item-controls,
.archmage.actor-sheet.npc-sheet .traits .item-controls,
.archmage.actor-sheet.npc-sheet .nastier-specials .item-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.archmage.actor-sheet.npc-sheet .actions .item-description,
.archmage.actor-sheet.npc-sheet .traits .item-description,
.archmage.actor-sheet.npc-sheet .nastier-specials .item-description {
  -webkit-box-flex: 100%;
  -ms-flex: 100%;
  flex: 100%;
  width: 100%; }

.archmage.actor-sheet.npc-sheet .actions-header .item-name,
.archmage.actor-sheet.npc-sheet .actions-header .item-controls,
.archmage.actor-sheet.npc-sheet .traits-header .item-name,
.archmage.actor-sheet.npc-sheet .traits-header .item-controls,
.archmage.actor-sheet.npc-sheet .nastier-specials-header .item-name,
.archmage.actor-sheet.npc-sheet .nastier-specials-header .item-controls,
.archmage.actor-sheet.npc-sheet .npc-details-header .item-name,
.archmage.actor-sheet.npc-sheet .npc-details-header .item-controls {
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  padding: 4px 8px; }

.archmage.actor-sheet.npc-sheet .actions-header .item-name,
.archmage.actor-sheet.npc-sheet .traits-header .item-name,
.archmage.actor-sheet.npc-sheet .nastier-specials-header .item-name,
.archmage.actor-sheet.npc-sheet .npc-details-header .item-name {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-weight: bold; }

.archmage.actor-sheet.npc-sheet .actions-header .item-controls,
.archmage.actor-sheet.npc-sheet .traits-header .item-controls,
.archmage.actor-sheet.npc-sheet .nastier-specials-header .item-controls,
.archmage.actor-sheet.npc-sheet .npc-details-header .item-controls {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 64px;
  flex: 0 0 64px; }

.archmage.actor-sheet.npc-sheet .actions-list .item-name p,
.archmage.actor-sheet.npc-sheet .actions-list .item-description p,
.archmage.actor-sheet.npc-sheet .traits-list .item-name p,
.archmage.actor-sheet.npc-sheet .traits-list .item-description p,
.archmage.actor-sheet.npc-sheet .nastier-specials-list .item-name p,
.archmage.actor-sheet.npc-sheet .nastier-specials-list .item-description p {
  line-height: 1.3;
  margin: 10px 0;
  padding-left: 10px;
  text-indent: -10px; }

.archmage.actor-sheet.npc-sheet .actions-list .item,
.archmage.actor-sheet.npc-sheet .traits-list .item,
.archmage.actor-sheet.npc-sheet .nastier-specials-list .item {
  border-top: 1px solid rgba(0, 0, 0, 0.25); }
  .archmage.actor-sheet.npc-sheet .actions-list .item:last-child,
  .archmage.actor-sheet.npc-sheet .traits-list .item:last-child,
  .archmage.actor-sheet.npc-sheet .nastier-specials-list .item:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25); }
  .archmage.actor-sheet.npc-sheet .actions-list .item .item-name h4,
  .archmage.actor-sheet.npc-sheet .traits-list .item .item-name h4,
  .archmage.actor-sheet.npc-sheet .nastier-specials-list .item .item-name h4 {
    font-size: 18px;
    line-height: 1.2;
    -o-text-overflow: initial;
    text-overflow: initial;
    white-space: normal; }

.archmage.actor-sheet.npc-sheet .actions .item-description .description {
  background: rgba(188, 222, 178, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 0 16px -8px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 0 16px -8px rgba(0, 0, 0, 0.25);
  margin: 8px 0;
  padding: 8px; }

.archmage-escalation {
  background: rgba(0, 0, 0, 0.75);
  border: 1px solid #000;
  border-radius: 5px;
  bottom: 67px;
  -webkit-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  color: #fff;
  font-family: "warnock-pro", "sans-serif";
  font-size: 60px;
  height: 84px;
  left: 221px;
  line-height: 1.2;
  margin: 0 0 8px;
  position: fixed;
  text-align: center;
  width: 84px; }
  .archmage-escalation.hide {
    display: none; }
  .archmage-escalation::after {
    bottom: 2px;
    content: 'Escalation Die';
    font-family: "mason-serif", "Nodesto", "Signika", "Palatino Linotype", serif;
    font-size: 12px;
    left: 50%;
    line-height: 1;
    position: absolute;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 80px; }
  .archmage-escalation .ed-number {
    pointer-events: none; }
  .archmage-escalation .ed-controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: absolute;
    top: -1px;
    left: calc(100% + 7px);
    width: 40px;
    height: 86px; }
  .archmage-escalation .ed-control {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 40px;
    line-height: 1;
    margin: 0;
    padding: 0;
    background: rgba(0, 0, 0, 0.75);
    border: 1px solid #000;
    border-radius: 5px;
    bottom: 67px;
    -webkit-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;
    color: #fff; }
    .archmage-escalation .ed-control:hover, .archmage-escalation .ed-control:active {
      -webkit-box-shadow: 0 0 5px #ff0000;
      box-shadow: 0 0 5px #ff0000; }
    .archmage-escalation .ed-control:active {
      background: rgba(0, 0, 0, 0.45); }

#chat-form {
  position: relative; }
  #chat-form textarea {
    background: url("../assets/src/ricepaper2_@2X.png") #fff;
    background-attachment: local;
    background-size: 300px;
    -webkit-box-shadow: inset 0 0 32px 4px rgba(0, 0, 0, 0.45);
    box-shadow: inset 0 0 32px 4px rgba(0, 0, 0, 0.45); }
  #chat-form::before {
    background-image: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 4px;
    content: '';
    display: block;
    height: 100px;
    opacity: .1;
    pointer-events: none;
    position: absolute;
    right: 10px;
    width: 100px; }

.compendium.overrides .directory-list {
  display: none; }
  .compendium.overrides .directory-list.directory-list--archmage {
    display: block; }

.compendium .directory-list--archmage .directory-list--archmage {
  overflow-y: visible; }

.compendium .directory-list--archmage .directory-item {
  display: none; }

.compendium .directory-list--archmage h3.entry-group {
  font-family: "mason-serif", "Nodesto", "Signika", "Palatino Linotype", serif;
  font-weight: normal;
  font-size: 24px;
  text-shadow: 1px 1px 2px #000;
  text-align: center;
  text-transform: capitalize;
  line-height: 1;
  white-space: normal;
  padding: 10px;
  margin: 4px 0;
  color: #fff;
  background: -o-linear-gradient(45deg, #6f98b1, #333);
  background: linear-gradient(45deg, #6f98b1, #333); }

.compendium .directory-list--archmage .directory-item {
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  font-family: "warnock-pro", "sans-serif"; }
  .compendium .directory-list--archmage .directory-item h4.entry-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .compendium .directory-list--archmage .directory-item h4.entry-name a {
      font-family: "mason-serif", "Nodesto", "Signika", "Palatino Linotype", serif;
      font-weight: bold;
      font-size: 18px;
      line-height: 1;
      white-space: normal;
      padding: 0 0 4px; }
    .compendium .directory-list--archmage .directory-item h4.entry-name .tags {
      line-height: 1;
      margin: 0;
      text-transform: capitalize;
      font-size: 12px;
      padding: 4px 0;
      width: 100%;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      color: rgba(0, 0, 0, 0.5); }
  .compendium .directory-list--archmage .directory-item.ability-usage h4.entry-name .tags {
    color: #fff; }

.dc-inline-roll {
  display: inline-block;
  position: relative; }

.dc-inline-roll__result,
.dc-inline-roll__parts {
  background: rgba(0, 0, 0, 0.75);
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  padding: 0 4px; }
  .dc-inline-roll__result:hover .dc-inline-roll__parts,
  .dc-inline-roll__parts:hover .dc-inline-roll__parts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.archmage .dc-inline-roll__result {
  line-height: 1;
  padding: 3px 4px 0; }

.dc-inline-roll__parts {
  background: rgba(0, 0, 0, 0.75);
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  left: 0;
  padding: 4px 8px;
  position: absolute;
  top: 100%;
  white-space: nowrap;
  z-index: 999; }

.dc-formula {
  border-bottom: 1px solid rgba(255, 255, 255, 0.45);
  line-height: 1;
  padding: 4px 0; }

.dc-parts {
  line-height: 1;
  padding: 8px 0 4px; }

.dc-discarded {
  opacity: .3; }

.dc-crit {
  color: #7bff94; }

.dc-fail {
  color: #ff8484; }

.chat-card.icon-roll .dice-tooltip .dice-rolls .roll.die,
.message.icon-roll .dice-tooltip .dice-rolls .roll.die {
  background: #aaa;
  border-radius: 4px;
  width: 22px;
  height: 22px;
  line-height: 24px;
  padding: 0;
  margin-right: 5px; }
  .chat-card.icon-roll .dice-tooltip .dice-rolls .roll.die.result-5,
  .message.icon-roll .dice-tooltip .dice-rolls .roll.die.result-5 {
    background: #8acee4; }
  .chat-card.icon-roll .dice-tooltip .dice-rolls .roll.die.result-6,
  .message.icon-roll .dice-tooltip .dice-rolls .roll.die.result-6 {
    background: #93c385; }

.chat-card .inline-roll,
.chat-card .inline-roll--archmage,
.message .inline-roll,
.message .inline-roll--archmage {
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  border-color: #000;
  border-radius: 4px;
  display: inline-block;
  line-height: 0;
  padding: 2px;
  -webkit-transition: -webkit-transform ease-in-out 0.25s;
  transition: -webkit-transform ease-in-out 0.25s;
  -o-transition: transform ease-in-out 0.25s;
  transition: transform ease-in-out 0.25s;
  transition: transform ease-in-out 0.25s, -webkit-transform ease-in-out 0.25s; }
  .chat-card .inline-roll.expanded,
  .chat-card .inline-roll--archmage.expanded,
  .message .inline-roll.expanded,
  .message .inline-roll--archmage.expanded {
    color: #fff;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 1; }
  .chat-card .inline-roll:hover,
  .chat-card .inline-roll--archmage:hover,
  .message .inline-roll:hover,
  .message .inline-roll--archmage:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    z-index: 90; }
  .chat-card .inline-roll .fas,
  .chat-card .inline-roll--archmage .fas,
  .message .inline-roll .fas,
  .message .inline-roll--archmage .fas {
    color: #fff;
    font-size: 10px;
    line-height: 12px; }
  .chat-card .inline-roll .die,
  .chat-card .inline-roll .mod,
  .chat-card .inline-roll--archmage .die,
  .chat-card .inline-roll--archmage .mod,
  .message .inline-roll .die,
  .message .inline-roll .mod,
  .message .inline-roll--archmage .die,
  .message .inline-roll--archmage .mod {
    padding: 0 2px; }
  .chat-card .inline-roll .die,
  .chat-card .inline-roll--archmage .die,
  .message .inline-roll .die,
  .message .inline-roll--archmage .die {
    color: #ffbd23; }
  .chat-card .inline-roll .die--discarded,
  .chat-card .inline-roll--archmage .die--discarded,
  .message .inline-roll .die--discarded,
  .message .inline-roll--archmage .die--discarded {
    opacity: 0.5; }

.chat-card .dc-discarded,
.message .dc-discarded {
  opacity: .3; }

.chat-card .dc-crit,
.message .dc-crit {
  color: #7bff94;
  background: rgba(2, 66, 22, 0.75); }
  .chat-card .dc-crit:hover,
  .message .dc-crit:hover {
    text-shadow: 0 0 8px #000; }
  .chat-card .dc-crit .die,
  .message .dc-crit .die {
    color: #7bff94; }
  .chat-card .dc-crit .fas,
  .message .dc-crit .fas {
    color: #7bff94; }

.chat-card .dc-reroll,
.message .dc-reroll {
  color: #ffe741;
  background: rgba(150, 105, 0, 0.75); }
  .chat-card .dc-reroll:hover,
  .message .dc-reroll:hover {
    text-shadow: 0 0 8px #000; }
  .chat-card .dc-reroll .die,
  .message .dc-reroll .die {
    color: #ffe741; }
  .chat-card .dc-reroll .fas,
  .message .dc-reroll .fas {
    color: #ffe741; }

.chat-card .dc-fail,
.message .dc-fail {
  color: #ff8484;
  background: rgba(70, 0, 0, 0.75); }
  .chat-card .dc-fail .die,
  .message .dc-fail .die {
    color: #ff8484; }
  .chat-card .dc-fail:hover,
  .message .dc-fail:hover {
    text-shadow: 0 0 8px #000; }
  .chat-card .dc-fail .fas,
  .message .dc-fail .fas {
    color: #ff8484; }

.trigger-active {
  color: #005800; }

.trigger-inactive {
  opacity: 0.3; }

.hide {
  display: none; }

.currency-input {
  height: 25px !important;
  text-align: center !important; }

.attribute--currencies {
  height: 50px !important; }

.currencies {
  -webkit-box-flex: 0 !important;
  -ms-flex: 0 0 60px !important;
  flex: 0 0 60px !important; }

.l-center {
  margin: 0 40px; }

.archmage-prepopulate .window-content > .dialog-content {
  -webkit-box-flex: 100%;
  -ms-flex: 100%;
  flex: 100%;
  height: 100%;
  overflow-y: auto; }

.archmage-prepopulate .window-content > .dialog-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding: 10px 0 3px; }

.archmage-prepopulate button.cancel,
.archmage-prepopulate button.submit {
  background: #782e22;
  color: #fff;
  font-family: "warnock-pro", "sans-serif";
  font-size: 18px;
  padding: 10px;
  margin: 0 10px 20px;
  border-radius: 8px;
  border: 0; }

.archmage-prepopulate button.submit {
  background: #3d64ae; }

.archmage-import-power {
  background: rgba(0, 0, 0, 0.01);
  border: 1px solid #999;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px #fff inset;
  box-shadow: 0 0 2px #fff inset;
  display: block;
  -webkit-box-flex: 0 !important;
  -ms-flex: 0 0 24px !important;
  flex: 0 0 24px !important;
  height: 32px;
  line-height: 24px;
  margin: 4px;
  position: relative;
  text-align: center;
  width: auto; }

.item-sheet .sheet-header > .archmage-import-power {
  -webkit-box-flex: 0 !important;
  -ms-flex: 0 0 24px !important;
  flex: 0 0 24px !important; }

.archmage-prepopulate-tabs {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden; }
  .archmage-prepopulate-tabs .tabs {
    padding: 20px 0 0;
    border-bottom: 2px solid #124560;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: none; }
    .archmage-prepopulate-tabs .tabs.show-tabs {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .archmage-prepopulate-tabs .tabs > .item {
      text-transform: capitalize;
      background: transparent;
      color: #000;
      border: 2px solid #124560;
      border-bottom: 0;
      padding: 8px 24px;
      margin: 0 20px;
      -webkit-transition: all ease-in-out 0.25s;
      -o-transition: all ease-in-out 0.25s;
      transition: all ease-in-out 0.25s;
      font-family: "mason-serif", "Nodesto", "Signika", "Palatino Linotype", serif;
      font-size: 18px;
      -webkit-box-flex: 0;
      -ms-flex-positive: 0;
      flex-grow: 0;
      white-space: nowrap; }
      .archmage-prepopulate-tabs .tabs > .item.active, .archmage-prepopulate-tabs .tabs > .item:hover, .archmage-prepopulate-tabs .tabs > .item:focus {
        text-shadow: none;
        background: #124560;
        color: #fff;
        -webkit-box-shadow: 0;
        box-shadow: 0; }
  .archmage-prepopulate-tabs .tabs-primary-content {
    height: 100%;
    margin: 20px 0;
    overflow-y: auto; }

.import-powers-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.import-powers-item {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 2px 4px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  .import-powers-item .item-summary {
    overflow: hidden;
    -webkit-transition: all ease-in-out 0.25s;
    -o-transition: all ease-in-out 0.25s;
    transition: all ease-in-out 0.25s; }
    .import-powers-item .item-summary .card-footer {
      display: none; }
  .import-powers-item:hover, .import-powers-item:focus {
    color: #fff; }
  .import-powers-item > div {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  .import-powers-item > .title {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  .import-powers-item > .usage {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 120px;
    flex: 0 0 120px; }
  .import-powers-item > .type {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100px;
    flex: 0 0 100px; }
  .import-powers-item > .level {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 24px;
    flex: 0 0 24px; }

.prepopulate-help {
  font-size: 16px;
  margin: 40px 0 0;
  background: rgba(128, 188, 223, 0.25);
  padding: 20px;
  border: 1px solid #124560;
  border-radius: 5px; }

.prepopulate-power-list {
  padding: 10px 0; }
  .prepopulate-power-list .archmage.chat-card .card-header {
    border: 0; }
  .prepopulate-power-list .ability-usage {
    -webkit-transition: all ease-in-out 0.25s;
    -o-transition: all ease-in-out 0.25s;
    transition: all ease-in-out 0.25s; }
    .prepopulate-power-list .ability-usage:hover {
      opacity: 0.8; }
  .prepopulate-power-list .title {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40px;
    flex: 0 0 40px; }
  .prepopulate-power-list .import-powers-item {
    color: #000; }

.class-content {
  padding: 0 20px; }
  .class-content .grid {
    gap: 40px; }

.archmage-class-title {
  font-size: 48px;
  text-transform: capitalize;
  margin: 40px 0 0;
  text-align: center;
  border: 0;
  position: relative; }
  .archmage-class-title::before, .archmage-class-title::after {
    display: block;
    content: '';
    position: absolute;
    width: 32%;
    height: 6px;
    background: -webkit-gradient(linear, right top, left top, from(#124560), color-stop(60%, rgba(18, 69, 96, 0.4)), to(transparent));
    background: -o-linear-gradient(right, #124560, rgba(18, 69, 96, 0.4) 60%, transparent);
    background: linear-gradient(-90deg, #124560, rgba(18, 69, 96, 0.4) 60%, transparent);
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    border-radius: 50px 0 50px 0; }
  .archmage-class-title::after {
    left: auto;
    right: 0;
    background: -webkit-gradient(linear, left top, right top, from(#124560), color-stop(60%, rgba(18, 69, 96, 0.4)), to(transparent));
    background: -o-linear-gradient(left, #124560, rgba(18, 69, 96, 0.4) 60%, transparent);
    background: linear-gradient(90deg, #124560, rgba(18, 69, 96, 0.4) 60%, transparent);
    border-radius: 0 50px 0 50px; }

.archmage-class-heading,
.power-list-title {
  font-size: 32px;
  text-transform: capitalize;
  margin: 40px 0 10px;
  border-bottom: 2px solid #124560; }

.archmage-class-subheading,
.power-list-subtitle {
  font-size: 22px;
  text-transform: capitalize;
  margin: 40px 0 20px; }

.item-properties table,
.card-prop table {
  border: 0; }

.item-properties th,
.item-properties td,
.card-prop th,
.card-prop td {
  padding: 4px; }

.item-properties tr:nth-child(even),
.card-prop tr:nth-child(even) {
  background: rgba(128, 188, 223, 0.25); }

table {
  font-family: "warnock-pro", "sans-serif";
  background: transparent;
  border: 0;
  text-align: center; }
  table thead {
    background: transparent;
    color: #000;
    text-shadow: none; }
    table thead th {
      padding: 2px 4px; }
  table tbody {
    border: 10px solid #124560;
    border-left: 0;
    border-right: 0; }
    table tbody tr:nth-child(odd) {
      background: transparent; }
    table tbody tr:nth-child(even) {
      background: rgba(128, 188, 223, 0.25); }

/* ----------------------------------------- */
/*  Context Dropdown Menu
/* ----------------------------------------- */
#context-menu2 {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  min-width: 200px;
  max-width: 360px;
  position: absolute;
  left: 0;
  background: #23221d;
  border: 1px solid #000;
  border-radius: 5px;
  color: #EEE;
  z-index: 31; }

#context-menu2.expand-down {
  top: calc(100% + 2px); }

#context-menu2.expand-up {
  bottom: calc(100% + 2px); }

#context-menu2 ol.context-items {
  list-style: none;
  margin: 0;
  padding: 0; }

#context-menu2 li.context-item {
  padding: 0 5px;
  line-height: 32px; }

#context-menu2 li.context-item:hover {
  color: #FFF;
  text-shadow: 0 0 4px red; }

#context-menu2 li.context-item > i {
  margin-right: 5px; }

.window-app #context-menu2 {
  z-index: 101; }
