<form class="{{cssClass}}" data-actor-id="{{actor.id}}" autocomplete="off">
  <archmage-actor-sheet class="archmage-vueport" dependencies="actor-sheet" :actor="actor">Loading, please wait...</archmage-actor-sheet>
</form>
