<form class="{{cssClass}} toolkit13-sheet-background" autocomplete="off">

    <!-- HEADER -->
    <header class="sheet-header">
        <h1 class="charname">
            <input name="name" type="text" value="{{name}}" placeholder="Character Name" />
        </h1>

        <div class="charlevel">
            <div class="level">
                <label>{{localize 'ARCHMAGE.level'}}</label>
                <input name="data.attributes.level.value" type="text" value="{{data.attributes.level.value}}" data-dtype="Number"
                    placeholder="1" />
            </div>
        </div>
    </header>

    <section class="sheet-body">
        <!-- DETAILS -->
        <ul class="details">
            <li class="character-detail character-detail--race">
                <input name="data.details.race.value" type="text" value="{{data.details.race.value}}" placeholder="{{localize 'ARCHMAGE.race'}}" />
            </li>
            <li class="character-detail character-detail--class">
                <input name="data.details.class.value" type="text" value="{{data.details.class.value}}" placeholder="{{localize 'ARCHMAGE.class'}}" />
            </li>
        </ul>

        <!-- ATTRIBUTES -->
        <div class="primary-attributes">
            <div class="attribute attribute--health">
                <h4 class="attribute-name">{{localize 'ARCHMAGE.health'}}</h4>
                <div class="attribute-value">
                    <input name="data.attributes.hp.value" type="text" value="{{data.attributes.hp.value}}" data-dtype="{{data.attributes.hp.type}}"
                        placeholder="10" />
                    <span class="flex0"> / </span>
                    {{#if data.attributes.hp.automatic}}
                        <span name="data.attributes.hp.max">{{data.attributes.hp.max}}</span>
                    {{else}}
                        <input name="data.attributes.hp.max" type="text" value="{{data.attributes.hp.max}}" data-dtype="{{data.attributes.hp.type}}"
                            placeholder="10" />
                    {{/if}}
                </div>
                <footer class="attribute-footer attribute-footer--temp-hp">
                    <span class="attribute-subname">{{localize 'ARCHMAGE.tempHp'}}</span>
                    <input name="data.attributes.hp.temp" type="text" class="temphp" placeholder="0" value="{{data.attributes.hp.temp}}"
                        data-dtype="{{data.attributes.hp.type}}" />
                </footer>
            </div>

            <div class="attribute attribute--defenses">
                <h4 class="attribute-name">{{localize 'ARCHMAGE.defenses'}}</h4>
                <div class="attribute-value attribute-value--parent">
                    <div class="attribute-sub">
                        <strong class="attribute-name">{{localize 'ARCHMAGE.ac.key'}}</strong>
                        <div class="attribute-display">{{data.attributes.ac.value}}</div>
                    </div>
                    <div class="attribute-sub">
                        <strong class="attribute-name">{{localize 'ARCHMAGE.pd.key'}}</strong>
                        <div class="attribute-display">{{data.attributes.pd.value}}</div>
                    </div>
                    <div class="attribute-sub">
                        <strong class="attribute-name">{{localize 'ARCHMAGE.md.key'}}</strong>
                        <div class="attribute-display">{{data.attributes.md.value}}</div>
                    </div>
                </div>
            </div>

            <div class="attribute attribute--recoveries">
                <h4 class="attribute-name">{{localize 'ARCHMAGE.recoveries'}}</h4>
                <div class="attribute-value">
                    <input name="data.attributes.recoveries.value" type="text" value="{{data.attributes.recoveries.value}}"
                        data-dtype="{{data.attributes.recoveries.type}}" placeholder="8" />
                    <span class="flex0"> / </span>
                    {{#if data.attributes.recoveries.automatic}}
                        <span name="data.attributes.recoveries.max">{{data.attributes.recoveries.max}}</span>
                    {{else}}
                        <input name="data.attributes.recoveries.max" type="text" value="{{data.attributes.recoveries.max}}"
                            data-dtype="{{data.attributes.recoveries.type}}" placeholder="8" />
                    {{/if}}
                </div>
                <div class="attribute-footer">
                  <a class="recovery-roll rollable"><i class="fas fa-dice-d20"></i> {{data.attributes.level.value}}{{data.attributes.recoveries.dice}}+{{data.abilities.con.dmg}} ({{data.attributes.recoveries.avg}})</a>
                </div>
            </div>

            <div class="attribute">
                <h4 class="attribute-name">{{localize 'ARCHMAGE.initiative'}}</h4>
                <div class="attribute-value">
                    <span>{{numberFormat data.attributes.init.mod decimals=0 sign=true}}</span>
                </div>
                {{#if data.resources.perCombat.anyEnabled}}
                <footer class="attribute-footer attribute-footer--temp-hp">
                    {{!-- Momentum --}}
                    {{#if data.resources.perCombat.momentum.enabled}}
                    <span class="attribute-subname">{{localize 'ARCHMAGE.CHARACTER.RESOURCES.momentum'}}</span>
                    <input name="data.resources.perCombat.momentum.current" type="checkbox" class="temphp" {{checked data.resources.perCombat.momentum.current}}
                        data-dtype="Boolean" />
                        {{!-- Command Points (shortened) --}}
                        {{#if data.resources.perCombat.commandPoints.enabled}}
                        <span class="attribute-subname">{{localize 'ARCHMAGE.CHARACTER.RESOURCES.cp'}}</span>
                        <input name="data.resources.perCombat.commandPoints.current" type="text" class="temphp" title="{{localize 'ARCHMAGE.CHARAGER.RESOURCES.cp'}}" placeholder="0" value="{{data.resources.perCombat.commandPoints.current}}"
                            data-dtype="{{data.resources.perCombat.commandPoints.current}}" />
                        {{/if}}
                    {{else}}
                      {{!-- Command Points (long) --}}
                      {{#if data.resources.perCombat.commandPoints.enabled}}
                      <span class="attribute-subname attribute-subname--grow">{{localize 'ARCHMAGE.CHARACTER.RESOURCES.commandPoints'}}</span>
                      <input name="data.resources.perCombat.commandPoints.current" type="text" class="temphp" placeholder="0" value="{{data.resources.perCombat.commandPoints.current}}"
                          data-dtype="{{data.resources.perCombat.commandPoints.current}}" />
                      {{/if}}
                    {{/if}}
                </footer>
                {{/if}}
            </div>
        </div>

        <div class="primary-attributes">
            <div class="attribute attribute--defenses">
                <h4 class="attribute-name">Save</h4>
                <div class="attribute-value attribute-value--parent">
                    <div class="attribute-sub">
                        <strong class="attribute-name">Easy</strong>
                        <div class="attribute-display"><a class="easy-save rollable"><i class="fas fa-dice-d20"></i> {{data.attributes.saves.easy}}+</a></div>
                    </div>
                    <div class="attribute-sub">
                        <strong class="attribute-name">Normal</strong>
                        <div class="attribute-display"><a class="normal-save rollable"><i class="fas fa-dice-d20"></i> {{data.attributes.saves.normal}}+</a></div>
                    </div>
                    <div class="attribute-sub">
                        <strong class="attribute-name">Hard</strong>
                        <div class="attribute-display"><a class="hard-save rollable"><i class="fas fa-dice-d20"></i> {{data.attributes.saves.hard}}+</a></div>
                    </div>
                </div>
            </div>

            <div class="attribute attribute--defenses">
                <h4 class="attribute-name">Disengage</h4>
                <div class="attribute-value attribute-value--parent">
                    <div class="attribute-sub">
                        <div class="attribute-display"><a class="disengage rollable"><i class="fas fa-dice-d20"></i> {{data.attributes.disengage}}+</a></div>
                    </div>
                </div>
                <div class="attribute-footer attribute-footer--disengage">
                    <span class="attribute-subname">{{localize 'ARCHMAGE.disengageAdjustment'}}</span>
                    <input name="data.attributes.disengageBonus" type="text" class="disengage-adjustment" placeholder="0" value="{{data.attributes.disengageBonus}}"
                        data-dtype="Number" />
                </div>
            </div>
        </div>

        {{#if data.resources.spendable.anyEnabled}}
        <div class="primary-attributes">

                {{#if data.resources.spendable.ki.enabled}}
                    <div class="attribute attribute--recoveries">
                        <h4 class="attribute-name">{{localize 'ARCHMAGE.CHARACTER.RESOURCES.ki'}}</h4>
                        <div class="attribute-value">
                            <input name="data.resources.spendable.ki.current" type="text" value="{{data.resources.spendable.ki.current}}"
                                data-dtype="{{data.resources.spendable.ki.current.type}}" placeholder="0" />
                            <span class="flex0"> / </span>
                            <input name="data.resources.spendable.ki.max" type="text" value="{{data.resources.spendable.ki.max}}"
                                data-dtype="{{data.resources.spendable.ki.max.type}}" placeholder="4" />
                        </div>
                    </div>
                {{/if}}

                {{#if data.resources.spendable.custom1.enabled}}
                    <div class="attribute attribute--recoveries">
                        <h4 class="attribute-name"><input name="data.resources.spendable.custom1.label" type="text" value="{{data.resources.spendable.custom1.label}}"
                            data-dtype="text" placeholder="Resource" /></h4>
                        <div class="attribute-value">
                            <input type="text" name="data.resources.spendable.custom1.current" value="{{data.resources.spendable.custom1.current}}"
                                data-dtype="Number" placeholder="0" />
                            <span class="flex0"> / </span>
                            <input type="text" name="data.resources.spendable.custom1.max" value="{{data.resources.spendable.custom1.max}}"
                                data-dtype="Number" placeholder="4" />
                        </div>
                    </div>
                {{/if}}

                {{#if data.resources.spendable.custom2.enabled}}
                    <div class="attribute attribute--recoveries">
                        <h4 class="attribute-name"><input name="data.resources.spendable.custom2.label" type="text" value="{{data.resources.spendable.custom2.label}}"
                            data-dtype="text" placeholder="Resource" /></h4>
                        <div class="attribute-value">
                            <input type="text" name="data.resources.spendable.custom2.current" value="{{data.resources.spendable.custom2.current}}"
                                data-dtype="Number" placeholder="0" />
                            <span class="flex0"> / </span>
                            <input type="text" name="data.resources.spendable.custom2.max" value="{{data.resources.spendable.custom2.max}}"
                                data-dtype="Number" placeholder="4" />
                        </div>
                    </div>
                {{/if}}

                {{#if data.resources.spendable.custom3.enabled}}
                    <div class="attribute attribute--recoveries">
                        <h4 class="attribute-name"><input name="data.resources.spendable.custom3.label" type="text" value="{{data.resources.spendable.custom3.label}}"
                            data-dtype="text" placeholder="Resource" /></h4>
                        <div class="attribute-value">
                            <input type="text" name="data.resources.spendable.custom3.current" value="{{data.resources.spendable.custom3.current}}"
                                data-dtype="Number" placeholder="0" />
                            <span class="flex0"> / </span>
                            <input type="text" name="data.resources.spendable.custom3.max" value="{{data.resources.spendable.custom3.max}}"
                                data-dtype="Number" placeholder="4" />
                        </div>
                    </div>
                {{/if}}
            </div>
        {{/if}}
        </div>

        <nav class="sheet-tabs tabs tabs-primary" data-group="primary">
            <a class="item" data-tab="powers">{{localize 'ARCHMAGE.powers'}}</a>
            <a class="item" data-tab="biography">{{localize 'ARCHMAGE.biography'}}</a>
            <a class="item" data-tab="items">{{localize 'ARCHMAGE.equipment'}}</a>
        </nav>

        <div class="tabs-primary-content">
          <!-- FEATS -->
          <div class="tab powers" data-group="primary" data-tab="powers">

            <div class="flexrow" style="margin-left: auto; margin-right: auto;width: 300px;text-align: center">
              <a class="quick-rest"><i class="fas fa-campground"></i> {{localize 'ARCHMAGE.CHAT.QuickRest'}}</a>
              <a class="full-rest"><i class="fas fa-bed"></i> {{localize 'ARCHMAGE.CHAT.FullHeal'}}</a>
            </div>

            {{#if owner}}
            <div class="item-controls flexrow">
                <button class="item-control item-import button" title="Create Power" data-item-type="power" data-type="power" type="button">
                    <i class="fas fa-atlas"></i> {{localize 'ARCHMAGE.import'}}</button>
            </div>
            {{/if}}

            {{#if byType}}
            <div>
              <h2>{{localize 'ARCHMAGE.features'}}</h2>
              <ol class="feats-list powers-list inventory-list directory-list">
                <li class="item flexrow inventory-header">
                    <div class="item-name flexrow">
                        <span class="item-image"></span>
                        <span class="item-name">{{localize 'ARCHMAGE.abilityName'}}</span>
                        <span class="item-recharge">{{localize 'ARCHMAGE.rchg'}}</span>
                        <span class="item-action">{{localize 'ARCHMAGE.act'}}</span>
                        <span class="item-quantity">{{localize 'ARCHMAGE.uses'}}</span>
                    </div>

                    {{#if owner}}
                    <div class="item-controls flexrow">
                        <a class="item-control item-create" title="Create Power" data-item-type="power" data-power-type="feature">
                            <i class="fas fa-plus"></i></a>
                    </div>
                    {{/if}}
                </li>

                {{#each features as |item i|}}
                <li class="item flexrow item--power" data-item-id="{{item._id}}" data-index="{{i}}">
                    <div class="item-name flexrow rollable">
                        <div class="item-image" style="background-image: url({{item.img}})"></div>
                        <div class="ability-usage {{#if item.data.powerUsage.value }}ability-usage--{{item.data.powerUsage.value}}{{else}}ability-usage--blank{{/if}}">
                            <h4>{{#if item.data.group.value}}[{{item.data.group.value}}] {{/if}}{{#if item.data.powerLevel.value}}[{{item.data.powerLevel.value}}] {{/if}}{{item.name}}</h4>
                            <span class="item-recharge">{{#if item.data.recharge.value}}{{item.data.recharge.value}}+{{/if}}</span>
                            <span class="item-action item-action--{{item.data.actionType.value}}">
                                <span class="visually-hidden">{{item.data.actionType.value}}</span>
                                <span class="item-action__letter"></span>
                                <span class="item-action__icon"></span>
                            </span>
                            <span class="item-quantity rollable" title="Left click to add, right click to subtract">{{item.data.quantity.value}}</span>
                        </div>
                    </div>

                    {{#if ../owner}}
                    <div class="item-controls flexrow">
                        <a class="item-control item-edit" title="Edit Ability"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Ability"><i class="fas fa-trash"></i></a>
                    </div>
                    {{/if}}
                </li>
                {{/each}}
            </ol>

              <h2>{{localize 'ARCHMAGE.talents'}}</h2>
              <ol class="feats-list powers-list inventory-list directory-list">
                  <li class="item flexrow inventory-header">
                      <div class="item-name flexrow">
                          <span class="item-image"></span>
                          <span class="item-name">{{localize 'ARCHMAGE.abilityName'}}</span>
                          <span class="item-recharge">{{localize 'ARCHMAGE.rchg'}}</span>
                          <span class="item-action">{{localize 'ARCHMAGE.act'}}</span>
                          <span class="item-quantity">{{localize 'ARCHMAGE.uses'}}</span>
                      </div>

                      {{#if owner}}
                      <div class="item-controls flexrow">
                          <a class="item-control item-create" title="Create Talent" data-item-type="power" data-power-type="talent">
                              <i class="fas fa-plus"></i></a>
                      </div>
                      {{/if}}
                  </li>

                  {{#each talents as |item i|}}
                  <li class="item flexrow item--power" data-item-id="{{item._id}}" data-index="{{i}}">
                      <div class="item-name flexrow rollable">
                          <div class="item-image" style="background-image: url({{item.img}})"></div>
                          <div class="ability-usage {{#if item.data.powerUsage.value }}ability-usage--{{item.data.powerUsage.value}}{{else}}ability-usage--blank{{/if}}">
                              <h4>{{#if item.data.group.value}}[{{item.data.group.value}}] {{/if}}{{#if item.data.powerLevel.value}}[{{item.data.powerLevel.value}}] {{/if}}{{item.name}}</h4>
                              <span class="item-recharge">{{#if item.data.recharge.value}}{{item.data.recharge.value}}+{{/if}}</span>
                              <span class="item-action item-action--{{item.data.actionType.value}}">
                                  <span class="visually-hidden">{{item.data.actionType.value}}</span>
                                  <span class="item-action__letter"></span>
                                  <span class="item-action__icon"></span>
                              </span>
                              <span class="item-quantity rollable" title="Left click to add, right click to subtract">{{item.data.quantity.value}}</span>
                          </div>
                      </div>

                      {{#if ../owner}}
                      <div class="item-controls flexrow">
                          <a class="item-control item-edit" title="Edit Ability"><i class="fas fa-edit"></i></a>
                          <a class="item-control item-delete" title="Delete Ability"><i class="fas fa-trash"></i></a>
                      </div>
                      {{/if}}
                  </li>
                  {{/each}}
              </ol>

              <h2>{{localize 'ARCHMAGE.spells'}}</h2>
              <ol class="feats-list powers-list inventory-list directory-list">
                  <li class="item flexrow inventory-header">
                      <div class="item-name flexrow">
                          <span class="item-image"></span>
                          <span class="item-name">{{localize 'ARCHMAGE.abilityName'}}</span>
                          <span class="item-recharge">{{localize 'ARCHMAGE.rchg'}}</span>
                          <span class="item-action">{{localize 'ARCHMAGE.act'}}</span>
                          <span class="item-quantity">{{localize 'ARCHMAGE.uses'}}</span>
                      </div>

                      {{#if owner}}
                      <div class="item-controls flexrow">
                          <a class="item-control item-create" title="Create Power" data-item-type="power" data-power-type="spell" data-power-usage="daily" data-action-type="standard">
                              <i class="fas fa-plus"></i></a>
                      </div>
                      {{/if}}
                  </li>

                  {{#each spells as |item i|}}
                  <li class="item flexrow item--power" data-item-id="{{item._id}}" data-index="{{i}}">
                      <div class="item-name flexrow rollable">
                          <div class="item-image" style="background-image: url({{item.img}})"></div>
                          <div class="ability-usage {{#if item.data.powerUsage.value }}ability-usage--{{item.data.powerUsage.value}}{{else}}ability-usage--blank{{/if}}">
                              <h4>{{#if item.data.group.value}}[{{item.data.group.value}}] {{/if}}{{#if item.data.powerLevel.value}}[{{item.data.powerLevel.value}}] {{/if}}{{item.name}}</h4>
                              <span class="item-recharge">{{#if item.data.recharge.value}}{{item.data.recharge.value}}+{{/if}}</span>
                              <span class="item-action item-action--{{item.data.actionType.value}}">
                                  <span class="visually-hidden">{{item.data.actionType.value}}</span>
                                  <span class="item-action__letter"></span>
                                  <span class="item-action__icon"></span>
                              </span>
                              <span class="item-quantity rollable" title="Left click to add, right click to subtract">{{item.data.quantity.value}}</span>
                          </div>
                      </div>

                      {{#if ../owner}}
                      <div class="item-controls flexrow">
                          <a class="item-control item-edit" title="Edit Ability"><i class="fas fa-edit"></i></a>
                          <a class="item-control item-delete" title="Delete Ability"><i class="fas fa-trash"></i></a>
                      </div>
                      {{/if}}
                  </li>
                  {{/each}}
              </ol>

              <h2>{{localize 'ARCHMAGE.powers'}}</h2>
              <ol class="feats-list powers-list inventory-list directory-list">
                  <li class="item flexrow inventory-header">
                      <div class="item-name flexrow">
                          <span class="item-image"></span>
                          <span class="item-name">{{localize 'ARCHMAGE.abilityName'}}</span>
                          <span class="item-recharge">{{localize 'ARCHMAGE.rchg'}}</span>
                          <span class="item-action">{{localize 'ARCHMAGE.act'}}</span>
                          <span class="item-quantity">{{localize 'ARCHMAGE.uses'}}</span>
                      </div>

                      {{#if owner}}
                      <div class="item-controls flexrow">
                          <a class="item-control item-create" title="Create Power" data-item-type="power" data-power-type="power" data-power-usage="at-will" data-action-type="standard">
                              <i class="fas fa-plus"></i></a>
                      </div>
                      {{/if}}
                  </li>

                  {{#each powers as |item i|}}
                  <li class="item flexrow item--power" data-item-id="{{item._id}}" data-index="{{i}}">
                      <div class="item-name flexrow rollable">
                          <div class="item-image" style="background-image: url({{item.img}})"></div>
                          <div class="ability-usage {{#if item.data.powerUsage.value }}ability-usage--{{item.data.powerUsage.value}}{{else}}ability-usage--blank{{/if}}">
                              <h4>{{#if item.data.group.value}}[{{item.data.group.value}}] {{/if}}{{#if item.data.powerLevel.value}}[{{item.data.powerLevel.value}}] {{/if}}{{item.name}}</h4>
                              <span class="item-recharge">{{#if item.data.recharge.value}}{{item.data.recharge.value}}+{{/if}}</span>
                              <span class="item-action item-action--{{item.data.actionType.value}}">
                                  <span class="visually-hidden">{{item.data.actionType.value}}</span>
                                  <span class="item-action__letter"></span>
                                  <span class="item-action__icon"></span>
                              </span>
                              <span class="item-quantity rollable" title="Left click to add, right click to subtract">{{item.data.quantity.value}}</span>
                          </div>
                      </div>

                      {{#if ../owner}}
                      <div class="item-controls flexrow">
                          <a class="item-control item-edit" title="Edit Ability"><i class="fas fa-edit"></i></a>
                          <a class="item-control item-delete" title="Delete Ability"><i class="fas fa-trash"></i></a>
                      </div>
                      {{/if}}
                  </li>
                  {{/each}}
              </ol>

              <h2>{{localize 'ARCHMAGE.flexibles'}}</h2>
              <ol class="feats-list powers-list inventory-list directory-list">
                  <li class="item flexrow inventory-header">
                      <div class="item-name flexrow">
                          <span class="item-image"></span>
                          <span class="item-name">{{localize 'ARCHMAGE.abilityName'}}</span>
                          <span class="item-recharge">{{localize 'ARCHMAGE.rchg'}}</span>
                          <span class="item-action">{{localize 'ARCHMAGE.act'}}</span>
                          <span class="item-quantity">{{localize 'ARCHMAGE.uses'}}</span>
                      </div>

                      {{#if owner}}
                      <div class="item-controls flexrow">
                          <a class="item-control item-create" title="Create Power" data-item-type="power" data-power-type="flexible">
                              <i class="fas fa-plus"></i></a>
                      </div>
                      {{/if}}
                  </li>

                  {{#each flexible as |item i|}}
                  <li class="item flexrow item--power" data-item-id="{{item._id}}" data-index="{{i}}">
                      <div class="item-name flexrow rollable">
                          <div class="item-image" style="background-image: url({{item.img}})"></div>
                          <div class="ability-usage {{#if item.data.powerUsage.value }}ability-usage--{{item.data.powerUsage.value}}{{else}}ability-usage--blank{{/if}}">
                              <h4>{{#if item.data.group.value}}[{{item.data.group.value}}] {{/if}}{{#if item.data.powerLevel.value}}[{{item.data.powerLevel.value}}] {{/if}}{{item.name}}</h4>
                              <span class="item-recharge">{{#if item.data.recharge.value}}{{item.data.recharge.value}}+{{/if}}</span>
                              <span class="item-action item-action--{{item.data.actionType.value}}">
                                  <span class="visually-hidden">{{item.data.actionType.value}}</span>
                                  <span class="item-action__letter"></span>
                                  <span class="item-action__icon"></span>
                              </span>
                              <span class="item-quantity rollable" title="Left click to add, right click to subtract">{{item.data.quantity.value}}</span>
                          </div>
                      </div>

                      {{#if ../owner}}
                      <div class="item-controls flexrow">
                          <a class="item-control item-edit" title="Edit Ability"><i class="fas fa-edit"></i></a>
                          <a class="item-control item-delete" title="Delete Ability"><i class="fas fa-trash"></i></a>
                      </div>
                      {{/if}}
                  </li>
                  {{/each}}
              </ol>

              <h2>{{localize 'ARCHMAGE.other'}}</h2>
              <ol class="feats-list powers-list inventory-list directory-list">
                  <li class="item flexrow inventory-header">
                      <div class="item-name flexrow">
                          <span class="item-image"></span>
                          <span class="item-name">{{localize 'ARCHMAGE.abilityName'}}</span>
                          <span class="item-recharge">{{localize 'ARCHMAGE.rchg'}}</span>
                          <span class="item-action">{{localize 'ARCHMAGE.act'}}</span>
                          <span class="item-quantity">{{localize 'ARCHMAGE.uses'}}</span>
                      </div>

                      {{#if owner}}
                      <div class="item-controls flexrow">
                          <a class="item-control item-create" title="Create Power" data-item-type="power" data-power-type="other">
                              <i class="fas fa-plus"></i></a>
                      </div>
                      {{/if}}
                  </li>

                  {{#each other as |item i|}}
                  <li class="item flexrow item--power" data-item-id="{{item._id}}" data-index="{{i}}">
                      <div class="item-name flexrow rollable">
                          <div class="item-image" style="background-image: url({{item.img}})"></div>
                          <div class="ability-usage {{#if item.data.powerUsage.value }}ability-usage--{{item.data.powerUsage.value}}{{else}}ability-usage--blank{{/if}}">
                              <h4>{{#if item.data.group.value}}[{{item.data.group.value}}] {{/if}}{{#if item.data.powerLevel.value}}[{{item.data.powerLevel.value}}] {{/if}}{{item.name}}</h4>
                              <span class="item-recharge">{{#if item.data.recharge.value}}{{item.data.recharge.value}}+{{/if}}</span>
                              <span class="item-action item-action--{{item.data.actionType.value}}">
                                  <span class="visually-hidden">{{item.data.actionType.value}}</span>
                                  <span class="item-action__letter"></span>
                                  <span class="item-action__icon"></span>
                              </span>
                              <span class="item-quantity rollable" title="Left click to add, right click to subtract">{{item.data.quantity.value}}</span>
                          </div>
                      </div>

                      {{#if ../owner}}
                      <div class="item-controls flexrow">
                          <a class="item-control item-edit" title="Edit Ability"><i class="fas fa-edit"></i></a>
                          <a class="item-control item-delete" title="Delete Ability"><i class="fas fa-trash"></i></a>
                      </div>
                      {{/if}}
                  </li>
                  {{/each}}
              </ol>
            </div>
            {{/if}}

            {{#if byAction}}
            <div>
                <h2>{{localize 'ARCHMAGE.class'}}</h2>
                <ol class="feats-list powers-list inventory-list directory-list">
                    <li class="item flexrow inventory-header">
                        <div class="item-name flexrow">
                            <span class="item-image"></span>
                            <span class="item-name">{{localize 'ARCHMAGE.abilityName'}}</span>
                        </div>

                        {{#if owner}}
                        <div class="item-controls flexrow">
                            <a class="item-control item-create" title="Create Power" data-item-type="power" data-power-source="class">
                                <i class="fas fa-plus"></i></a>
                        </div>
                        {{/if}}
                    </li>

                    {{#each class as |item i|}}
                    <li class="item flexrow item--power" data-item-id="{{item._id}}" data-index="{{i}}">
                        <div class="item-name flexrow rollable">
                            <div class="item-image" style="background-image: url({{item.img}})"></div>
                            <div class="ability-usage {{#if item.data.powerUsage.value }}ability-usage--{{item.data.powerUsage.value}}{{else}}ability-usage--blank{{/if}}">
                                <h4>{{#if item.data.group.value}}[{{item.data.group.value}}] {{/if}}{{#if item.data.powerLevel.value}}[{{item.data.powerLevel.value}}] {{/if}}{{item.name}}</h4>
                            </div>
                        </div>

                        {{#if ../owner}}
                        <div class="item-controls flexrow">
                            <a class="item-control item-edit" title="Edit Ability"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Ability"><i class="fas fa-trash"></i></a>
                        </div>
                        {{/if}}
                    </li>
                    {{/each}}
                </ol>

                <h2>{{localize 'ARCHMAGE.actions'}}</h2>
                <ol class="feats-list powers-list inventory-list directory-list">
                    <li class="item flexrow inventory-header">
                        <div class="item-name flexrow">
                            <span class="item-image"></span>
                            <span class="item-name">{{localize 'ARCHMAGE.abilityName'}}</span>
                            <span class="item-recharge">{{localize 'ARCHMAGE.rchg'}}</span>
                            <span class="item-action">{{localize 'ARCHMAGE.act'}}</span>
                            <span class="item-quantity">{{localize 'ARCHMAGE.uses'}}</span>
                        </div>

                        {{#if owner}}
                        <div class="item-controls flexrow">
                            <a class="item-control item-create" title="Create Power" data-item-type="power" data-action-type="standard">
                                <i class="fas fa-plus"></i></a>
                        </div>
                        {{/if}}
                    </li>

                    {{#each actions as |item i|}}
                    <li class="item flexrow item--power" data-item-id="{{item._id}}" data-index="{{i}}">
                        <div class="item-name flexrow rollable">
                            <div class="item-image" style="background-image: url({{item.img}})"></div>
                            <div class="ability-usage {{#if item.data.powerUsage.value }}ability-usage--{{item.data.powerUsage.value}}{{else}}ability-usage--blank{{/if}}">
                                <h4>{{#if item.data.group.value}}[{{item.data.group.value}}] {{/if}}{{#if item.data.powerLevel.value}}[{{item.data.powerLevel.value}}] {{/if}}{{item.name}}</h4>
                                <span class="item-recharge">{{#if item.data.recharge.value}}{{item.data.recharge.value}}+{{/if}}</span>
                                <span class="item-action item-action--{{item.data.actionType.value}}">
                                    <span class="visually-hidden">{{item.data.actionType.value}}</span>
                                    <span class="item-action__letter"></span>
                                    <span class="item-action__icon"></span>
                                </span>
                                <span class="item-quantity rollable" title="Left click to add, right click to subtract">{{item.data.quantity.value}}</span>
                            </div>
                        </div>

                        {{#if ../owner}}
                        <div class="item-controls flexrow">
                            <a class="item-control item-edit" title="Edit Ability"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Ability"><i class="fas fa-trash"></i></a>
                        </div>
                        {{/if}}
                    </li>
                    {{/each}}
                </ol>
            </div>
            {{/if}}

            {{#if byGroup}}
                {{#each namePowerPairs as |grouping g|}}
                <div>
                    <h2>{{grouping.name}}</h2>
                    <ol class="feats-list powers-list inventory-list directory-list">
                        <li class="item flexrow inventory-header">
                            <div class="item-name flexrow">
                                <span class="item-image"></span>
                                <span class="item-name">{{localize 'ARCHMAGE.abilityName'}}</span>
                                <span class="item-recharge">{{localize 'ARCHMAGE.rchg'}}</span>
                                <span class="item-action">{{localize 'ARCHMAGE.act'}}</span>
                                <span class="item-quantity">{{localize 'ARCHMAGE.uses'}}</span>
                            </div>

                            {{#if ../owner}}
                            <div class="item-controls flexrow">
                                <a class="item-control item-create" title="Create Power" data-item-type="power" data-group="{{grouping.name}}">
                                    <i class="fas fa-plus"></i></a>
                            </div>
                            {{/if}}
                        </li>

                        {{#each grouping.powers as |item i|}}
                        <li class="item flexrow item--power" data-item-id="{{item._id}}" data-index="{{i}}">
                            <div class="item-name flexrow rollable">
                                <div class="item-image" style="background-image: url({{item.img}})"></div>
                                <div class="ability-usage {{#if item.data.powerUsage.value }}ability-usage--{{item.data.powerUsage.value}}{{else}}ability-usage--blank{{/if}}">
                                    <h4>{{#if item.data.powerLevel.value}}[{{item.data.powerLevel.value}}] {{/if}}{{item.name}}</h4>
                                    <span class="item-recharge">{{#if item.data.recharge.value}}{{item.data.recharge.value}}+{{/if}}</span>
                                    <span class="item-action item-action--{{item.data.actionType.value}}">
                                        <span class="visually-hidden">{{item.data.actionType.value}}</span>
                                        <span class="item-action__letter"></span>
                                        <span class="item-action__icon"></span>
                                    </span>
                                    <span class="item-quantity rollable" title="Left click to add, right click to subtract">{{item.data.quantity.value}}</span>
                                </div>
                            </div>

                            {{#if ../../owner}}
                            <div class="item-controls flexrow">
                                <a class="item-control item-edit" title="Edit Ability"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="Delete Ability"><i class="fas fa-trash"></i></a>
                            </div>
                            {{/if}}
                        </li>
                        {{/each}}
                    </ol>
                </div>
                {{/each}}
            {{/if}}
          </div>

          <!-- BIOGRAPHY -->
          <div class="tab biography" data-group="primary" data-tab="biography">
              {{editor content=data.details.biography.value target="data.details.biography.value" button=true owner=owner editable=editable}}
          </div>

          <!-- ITEMS -->
          <div class="tab items" data-group="primary" data-tab="items">
            <div class="primary-attributes currencies">
                <div class="attribute attribute--defenses attribute--currencies">
                    <div class="attribute-value attribute-value--parent">
                        <div class="attribute-sub" title='{{ localize 'ARCHMAGE.COINS.platinumHint' }}' >
                            <strong class="attribute-name">{{ localize 'ARCHMAGE.COINS.platinum' }}</strong>
                            <input name="data.coins.platinum.value" type="text" value="{{data.coins.platinum.value}}" data-dtype="{{data.coins.platinum.type}}" placeholder="0" class="currency-input" />
                        </div>
                        <div class="attribute-sub" title='{{ localize 'ARCHMAGE.COINS.goldHint' }}'>
                            <strong class="attribute-name">{{ localize 'ARCHMAGE.COINS.gold' }}</strong>
                            <input name="data.coins.gold.value" type="text" value="{{data.coins.gold.value}}" data-dtype="{{data.coins.gold.type}}" placeholder="0" class="currency-input" />
                        </div>
                        <div class="attribute-sub" title='{{ localize 'ARCHMAGE.COINS.silverHint' }}'>
                            <strong class="attribute-name">{{ localize 'ARCHMAGE.COINS.silver' }}</strong>
                            <input name="data.coins.silver.value" type="text" value="{{data.coins.silver.value}}" data-dtype="{{data.coins.silver.type}}" placeholder="0" class="currency-input" />
                        </div>
                        <div class="attribute-sub" title='{{ localize 'ARCHMAGE.COINS.copperHint' }}'>
                            <strong class="attribute-name">{{ localize 'ARCHMAGE.COINS.copper' }}</strong>
                            <input name="data.coins.copper.value" type="text" value="{{data.coins.copper.value}}" data-dtype="{{data.coins.copper.type}}" placeholder="0" class="currency-input" />
                        </div>
                    </div>
                </div>

            </div>

              <ol class="inventory-list directory-list">
                  <li class="item flexrow inventory-header">
                      <div class="item-name flexrow">
                          <span class="item-image"></span>
                          <span class="item-name">{{localize 'ARCHMAGE.name'}}</span>
                          <span class="item-type">{{localize 'ARCHMAGE.type'}}</span>
                        </div>
                        {{#if owner}}
                        <div class="item-controls">
                            <a class="item-control item-create" title="Create Item" data-item-type="equipment" data-type="equipment">
                            <i class="fas fa-plus"></i></a>
                        </div>
                        {{/if}}
                  </li>

                  {{#each equipment as |item i|}}
                  <li class="item flexrow item" data-item-id="{{item._id}}" data-index="{{i}}">
                      <div class="item-name flexrow">
                        <div class="item-image" style="background-image: url({{item.img}})"></div>
                        <div class="ability-usage ability-usage--equipment">
                          <h4>{{item.name}}</h4>
                          <div class="item-type">{{item.data.chackra}}</div>
                        </div>
                      </div>
                      {{#if ../owner}}
                      <div class="item-controls">
                          <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                      </div>
                      {{/if}}
                  </li>
                  {{/each}}
              </ol>
          </div>
        </div>
    </section>

    <!-- SIDEBAR -->
    <section class="sheet-sidebar">
        <img class="sheet-profile" src="{{img}}" title="{{name}}" height="220" width="220" data-edit="img" />

        <nav class="sheet-tabs tabs tabs-sidebar" data-group="sidebar">
            <a class="item" data-tab="abilities">{{localize 'ARCHMAGE.abilities'}}</a>
            <a class="item" data-tab="incrementals">{{ localize 'ARCHMAGE.incrementals' }}</a>
            <a class="item" data-tab="misc">{{localize 'ARCHMAGE.settings'}}</a>
        </nav>

        <div class="tabs-sidebar-content">
          <!-- ABILITY SCORES -->
          <div class="tab abilities" data-group="sidebar" data-tab="abilities">
              <ol class="abilities-list">
                  {{#each data.abilities as |ability id|}}
                  <li class="ability" data-ability="{{id}}">
                      <h4 class="ability-name rollable"><i class="fas fa-dice-d20"></i> {{localize (concatenate 'ARCHMAGE.' id '.label')}}</h4>
                      <span class="ability-mod" title="Modifier">{{numberFormat ability.mod decimals=0 sign=true}}</span>
                      <span class="ability-score" title="Ability Score">
                          <input name="data.abilities.{{id}}.value" type="text" value="{{ability.value}}" data-dtype="Number"
                              placeholder="10" />
                      </span>
                      <span class="ability-lvl" title="Roll">{{numberFormat ability.lvl decimals=0 sign=true}}</span>
                  </li>
                  {{/each}}
              </ol>

              <hr>
              <h3 class="ability-header">{{localize 'ARCHMAGE.backgrounds'}}</h3>
              <ul class="directory-list directory-list--backgrounds">
                  {{#each data.backgrounds as |background b|}}
                      {{#if background.isActive.value}}
                          <li class="background background--{{b}}" data-background="{{b}}">
                              <div class="background__item background__item--bonus"><input type="text" name="data.backgrounds.{{b}}.bonus.value" value="{{background.bonus.value}}" placeholder="Background bonus" data-dtype="{{background.bonus.type}}" /></div>
                              <div class="background__item background__item--name"><input type="text" name="data.backgrounds.{{b}}.name.value" value="{{background.name.value}}" placeholder="Background name" data-dtype="{{background.name.type}}" /></div>
                          </li>
                      {{/if}}
                  {{/each}}
              </ul>
              <hr>
              <h3 class="ability-header">{{localize 'ARCHMAGE.iconRelationships'}}</h3>
              <ul class="directory-list directory-list--icons">
                  {{#each data.icons as |icon i|}}
                      {{#if icon.isActive.value}}
                          <li class="icon icon--{{i}}" data-icon="{{i}}">
                              <div class="icon__item rollable"><i class="fas fa-dice-d20"></i></div>
                              <div class="icon__item icon__item--relationship">
                                  <select name="data.icons.{{i}}.relationship.value" data-dtype="{{icon.relationship.type}}">
                                      {{#select icon.relationship.value}}
                                      <option value=""></option>
                                      <option value="Positive">Pos.</option>
                                      <option value="Negative">Neg.</option>
                                      <option value="Conflicted">Con.</option>
                                      {{/select}}
                                  </select>
                              </div>
                              <div class="icon__item icon__item--bonus"><input type="text" name="data.icons.{{i}}.bonus.value" value="{{icon.bonus.value}}" placeholder="Icon bonus" data-dtype="{{icon.bonus.type}}" /></div>
                              <div class="icon__item icon__item--name"><input type="text" name="data.icons.{{i}}.name.value" value="{{icon.name.value}}" placeholder="Icon name" data-dtype="{{icon.name.type}}" /></div>
                          </li>
                      {{/if}}
                  {{/each}}
              </ul>
              <hr>

              <h3 class="ability-header">{{localize 'ARCHMAGE.oneUniqueThing'}}</h3>
              {{editor content=data.details.out.value target="data.details.out.value" button=true owner=owner editable=editable}}
              <hr>

          </div>

          <!-- SETTINGS -->
          <div class="tab misc" data-group="sidebar" data-tab="misc">
              <div class="settings-group form-group configure-flags">
                  <label>{{localize 'ARCHMAGE.specialTraits'}}</label>
                  <i class="fas fa-cog"></i>
              </div>

              <div class="settings-group">
                <select class="attribute-input" name="data.sheetGrouping" data-type="String">
                    {{#select data.sheetGrouping}}
                    <option value="type">{{localize 'ARCHMAGE.byType'}}</option>
                    <option value="action">{{localize 'ARCHMAGE.byAction'}}</option>
                    <option value="group">{{localize 'ARCHMAGE.byGroup'}}</option>
                    {{/select}}
                </select>
            </div>

              <div class="settings-group">
                  <strong class="attribute-name">{{localize 'ARCHMAGE.baseAC'}}</strong>
                  <input class="attribute-input" name="data.attributes.ac.base" type="text" value="{{data.attributes.ac.base}}"
                      data-dtype="{{data.attributes.ac.type}}" placeholder="10" />
              </div>

              <div class="settings-group">
                  <strong class="attribute-name">{{localize 'ARCHMAGE.basePD'}}</strong>
                  <input class="attribute-input" name="data.attributes.pd.base" type="text" value="{{data.attributes.pd.base}}"
                      data-dtype="{{data.attributes.pd.type}}" placeholder="10" />
              </div>

              <div class="settings-group">
                  <strong class="attribute-name">{{localize 'ARCHMAGE.baseMD'}}</strong>
                  <input class="attribute-input" name="data.attributes.md.base" type="text" value="{{data.attributes.md.base}}"
                      data-dtype="{{data.attributes.md.type}}" placeholder="10" />
              </div>

              <div class="settings-group">
                <strong class="attribute-name">{{localize 'ARCHMAGE.baseHP'}}</strong>
                <input class="attribute-input" name="data.attributes.hp.base" type="text" value="{{data.attributes.hp.base}}"
                    data-dtype="{{data.attributes.hp.type}}" placeholder="10" />
              </div>

              <div class="settings-group">
                <strong class="attribute-name">{{localize 'ARCHMAGE.calculateHP'}}</strong>
                <input class="attribute-input" name="data.attributes.hp.automatic" type="checkbox" value="1" {{checked data.attributes.hp.automatic}}
                    data-dtype="Boolean" />
              </div>

              <div class="settings-group">
                <strong class="attribute-name">{{localize 'ARCHMAGE.baseRecoveries'}}</strong>
                <input class="attribute-input" name="data.attributes.recoveries.base" type="text" value="{{data.attributes.recoveries.base}}"
                    data-dtype="{{data.attributes.recoveries.type}}" placeholder="8" />
              </div>

              <div class="settings-group">
                <strong class="attribute-name">{{localize 'ARCHMAGE.calculateRecoveries'}}</strong>
                <input class="attribute-input" name="data.attributes.recoveries.automatic" type="checkbox" value="1" {{checked data.attributes.recoveries.automatic}}
                    data-dtype="Boolean" />
              </div>

              <div class="settings-group">
                  <strong class="attribute-name">{{localize 'ARCHMAGE.initiative'}}</strong>
                  <input class="attribute-input" name="data.attributes.init.value" type="text" value="{{data.attributes.init.value}}"
                      data-dtype="{{data.attributes.init.type}}" placeholder="0" />
              </div>

              <div class="settings-group">
                  <strong class="attribute-name">{{localize 'ARCHMAGE.recoveryDice'}}</strong>
                  <input class="attribute-input" name="data.attributes.recoveries.dice" type="text" value="{{data.attributes.recoveries.dice}}"
                      data-dtype="String" placeholder="d8" />
              </div>

              <div class="settings-group">
                  <strong class="attribute-name">{{localize 'ARCHMAGE.attackMod'}}</strong>
                  <input class="attribute-input" name="data.attributes.attackMod.value" type="text" value="{{data.attributes.attackMod.value}}"
                      data-dtype="{{data.attributes.attackMod.type}}" placeholder="0" />
              </div>

              <div class="settings-group">
                  <strong class="attribute-name">{{localize 'ARCHMAGE.meleeWeaponDice'}}</strong>
                  <input class="attribute-input" name="data.attributes.weapon.melee.dice" type="text" value="{{data.attributes.weapon.melee.dice}}"
                      data-dtype="String" placeholder="d8" />
              </div>

              <div class="settings-group">
                  <strong class="attribute-name">{{localize 'ARCHMAGE.CHARACTERSETTINGS.shield'}}</strong>
                  <input class="attribute-input" name="data.attributes.weapon.melee.shield" type="checkbox" value="1" {{checked data.attributes.weapon.melee.shield}}
                    data-dtype="Boolean"/>
              </div>
              <div class="settings-group">
                  <strong class="attribute-name">{{localize 'ARCHMAGE.CHARACTERSETTINGS.dualwield'}}</strong>
                  <input class="attribute-input" name="data.attributes.weapon.melee.dualwield" type="checkbox" value="1" {{checked data.attributes.weapon.melee.dualwield}}
                    data-dtype="Boolean"/>
              </div>
              <div class="settings-group">
                  <strong class="attribute-name">{{localize 'ARCHMAGE.CHARACTERSETTINGS.twohanded'}}</strong>
                  <input class="attribute-input" name="data.attributes.weapon.melee.twohanded" type="checkbox" value="1" {{checked data.attributes.weapon.melee.twohanded}}
                    data-dtype="Boolean"/>
              </div>

              <div class="settings-group">
                  <strong class="attribute-name">{{localize 'ARCHMAGE.rangedWeaponDice'}}</strong>
                  <input class="attribute-input" name="data.attributes.weapon.ranged.dice" type="text" value="{{data.attributes.weapon.ranged.dice}}"
                      data-dtype="String" placeholder="d6" />
              </div>

              <div class="settings-group">
                  <strong class="attribute-name">{{localize 'ARCHMAGE.jabWeaponDice'}}</strong>
                  <input class="attribute-input" name="data.attributes.weapon.jab.dice" type="text" value="{{data.attributes.weapon.jab.dice}}"
                      data-dtype="String" placeholder="d6" />
              </div>

              <div class="settings-group">
                  <strong class="attribute-name">{{localize 'ARCHMAGE.punchWeaponDice'}}</strong>
                  <input class="attribute-input" name="data.attributes.weapon.punch.dice" type="text" value="{{data.attributes.weapon.punch.dice}}"
                      data-dtype="String" placeholder="d8" />
              </div>

              <div class="settings-group">
                  <strong class="attribute-name">{{localize 'ARCHMAGE.kickWeaponDice'}}</strong>
                  <input class="attribute-input" name="data.attributes.weapon.kick.dice" type="text" value="{{data.attributes.weapon.kick.dice}}"
                      data-dtype="String" placeholder="d10" />
              </div>

              <hr>

              {{#each data.backgrounds as |background b|}}
                  <div class="settings-group">
                      <strong class="attribute-name">{{b}}</strong>
                      <input class="attribute-input" name="data.backgrounds.{{b}}.isActive.value" type="checkbox" value="1" {{checked background.isActive.value}}
                          data-dtype="{{background.isActive.type}}" />
                  </div>
              {{/each}}

              <hr>

              {{#each data.icons as |icon i|}}
                  <div class="settings-group">
                      <strong class="attribute-name">{{i}}</strong>
                      <input class="attribute-input" name="data.icons.{{i}}.isActive.value" type="checkbox" value="1" {{checked icon.isActive.value}}
                          data-dtype="{{icon.isActive.type}}" />
                  </div>
              {{/each}}

              <hr>

              <div class="settings-group">
                <strong class="attribute-name">{{localize 'ARCHMAGE.CHARACTER.RESOURCES.custom1'}}</strong>
                <input class="attribute-input" name="data.resources.spendable.custom1.enabled" type="checkbox" value="1" {{checked data.resources.spendable.custom1.enabled}}
                    data-dtype="{{icon.isActive.type}}" />
              </div>
              <div class="settings-group">
                <strong class="attribute-name">{{localize 'ARCHMAGE.CHARACTER.RESOURCES.custom2'}}</strong>
                <input class="attribute-input" name="data.resources.spendable.custom2.enabled" type="checkbox" value="1" {{checked data.resources.spendable.custom2.enabled}}
                    data-dtype="{{icon.isActive.type}}" />
              </div>
              <div class="settings-group">
                <strong class="attribute-name">{{localize 'ARCHMAGE.CHARACTER.RESOURCES.custom3'}}</strong>
                <input class="attribute-input" name="data.resources.spendable.custom3.enabled" type="checkbox" value="1" {{checked data.resources.spendable.custom3.enabled}}
                    data-dtype="{{icon.isActive.type}}" />
              </div>

          </div>

          <div class="tab incrementals" data-group="sidebar" data-tab="incrementals">
              <h3 class="ability-header" style="padding-bottom: 5px;">{{ localize 'ARCHMAGE.incrementalAdvances' }}</h3>
              <div class="settings-group incremental" title='{{ localize 'ARCHMAGE.INCREMENTALS.featHint' }}'>
                  <strong class="attribute-name">{{ localize 'ARCHMAGE.INCREMENTALS.featName' }}</strong>
                  <input class="attribute-input" name="data.incrementals.feature" type="checkbox" value="1" {{checked data.incrementals.feature}} data-dtype="{{data.incrementals.feature.type}}">
              </div>
              <div class="settings-group incremental" title='{{ localize 'ARCHMAGE.INCREMENTALS.hpHint' }}'>
                  <strong class="attribute-name">{{ localize 'ARCHMAGE.INCREMENTALS.hpName' }}</strong>
                  <input class="attribute-input" name="data.incrementals.hp" type="checkbox" value="1" {{checked data.incrementals.hp}} data-dtype="{{data.incrementals.hp.type}}">
              </div>
              <div class="settings-group incremental" title='{{ localize 'ARCHMAGE.INCREMENTALS.skillsHint' }}'>
                  <strong class="attribute-name">{{ localize 'ARCHMAGE.INCREMENTALS.skillsName' }}</strong>
                  <input class="attribute-input" name="data.incrementals.skills" type="checkbox" value="1" {{checked data.incrementals.skills}} data-dtype="{{data.incrementals.skills.type}}">
              </div>
              <div class="settings-group incremental" title='{{ localize 'ARCHMAGE.INCREMENTALS.extraMagicItemHint' }}'>
                  <strong class="attribute-name">{{ localize 'ARCHMAGE.INCREMENTALS.extraMagicItemName' }}</strong>
                  <input class="attribute-input" name="data.incrementals.extraMagicItem" type="checkbox" value="1" {{checked data.incrementals.extraMagicItem}} data-dtype="{{data.incrementals.feature.extraMagicItem}}">
              </div>
              <div class="settings-group incremental" title='{{ localize 'ARCHMAGE.INCREMENTALS.abilityScoreBonusHint' }}'>
                  <strong class="attribute-name">{{ localize 'ARCHMAGE.INCREMENTALS.abilityScoreBonusName' }}</strong>
                  <input class="attribute-input" name="data.incrementals.abilityScoreBonus" type="checkbox" value="1" {{checked data.incrementals.abilityScoreBonus}} data-dtype="{{data.incrementals.feature.abilityScoreBonus}}">
              </div>
              <div class="settings-group incremental" title='{{ localize 'ARCHMAGE.INCREMENTALS.iconRelationshipPointHint' }}'>
                  <strong class="attribute-name">{{ localize 'ARCHMAGE.INCREMENTALS.iconRelationshipPointName' }}</strong>
                  <input class="attribute-input" name="data.incrementals.iconRelationshipPoint" type="checkbox" value="1" {{checked data.incrementals.iconRelationshipPoint}} data-dtype="{{data.incrementals.feature.iconRelationshipPoint}}">
              </div>
              <div class="settings-group incremental" title='{{ localize 'ARCHMAGE.INCREMENTALS.powerSpellHint' }}'>
                  <strong class="attribute-name">{{ localize 'ARCHMAGE.INCREMENTALS.powerSpellName' }}</strong>
                  <input class="attribute-input" name="data.incrementals.powerSpell1" type="checkbox" value="1" {{checked data.incrementals.powerSpell1}} data-dtype="{{data.incrementals.feature.powerSpell1}}">
              </div>
              <div class="settings-group incremental" title='{{ localize 'ARCHMAGE.INCREMENTALS.powerSpellHint' }}'>
                  <strong class="attribute-name">{{ localize 'ARCHMAGE.INCREMENTALS.powerSpellName' }}</strong>
                  <input class="attribute-input" name="data.incrementals.powerSpell2" type="checkbox" value="1" {{checked data.incrementals.powerSpell2}} data-dtype="{{data.incrementals.feature.powerSpell2}}">
              </div>
              <div class="settings-group incremental" title='{{ localize 'ARCHMAGE.INCREMENTALS.powerSpellHint' }}'>
                  <strong class="attribute-name">{{ localize 'ARCHMAGE.INCREMENTALS.powerSpellName' }}</strong>
                  <input class="attribute-input" name="data.incrementals.powerSpell3" type="checkbox" value="1" {{checked data.incrementals.powerSpell3}} data-dtype="{{data.incrementals.feature.powerSpell3}}">
              </div>
              <div class="settings-group incremental" title='{{ localize 'ARCHMAGE.INCREMENTALS.powerSpellHint' }}'>
                  <strong class="attribute-name">{{ localize 'ARCHMAGE.INCREMENTALS.powerSpellName' }}</strong>
                  <input class="attribute-input" name="data.incrementals.powerSpell4" type="checkbox" value="1" {{checked data.incrementals.powerSpell4}} data-dtype="{{data.incrementals.feature.powerSpell4}}">
              </div>
              <hr>
          </div>
        </div>
    </section>
</form>
