<form class="dnd5e item-sheet {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'ARCHMAGE.name'}}"/></h1>
    </header>

    <article class="sheet-content">

        <section class="sheet-body">
            <nav class="sheet-tabs tabs" data-group="primary">
                <a class="item" data-tab="description">{{localize 'ARCHMAGE.description'}}</a>
                <a class="item" data-tab="details">{{localize 'ARCHMAGE.details'}}</a>
            </nav>

            <div class="sheet-tabs-content">
              <div class="tab" data-group="primary" data-tab="description">
                  {{editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}
              </div>

              <div class="tab" data-group="primary" data-tab="details">
                  <div class="settings-group">
                      <strong class="attribute-name">{{localize 'ARCHMAGE.ITEM.price'}}</strong>
                      <input name="data.price.value" type="text" value="{{data.price.value}}"
                          data-dtype="String" placeholder="1,000gp" />
                  </div>

                  <div class="settings-group">
                      <strong class="attribute-name">{{localize 'ARCHMAGE.ITEM.active'}}</strong>
                      <input type="checkbox" name="data.isActive" value="1" data-dtype="Boolean" {{checked data.isActive}} />
                  </div>

                  <div class="settings-group form-group">
                      <label>{{localize 'ARCHMAGE.ITEM.attackBonuses'}}</label>
                  </div>

                  <div class="settings-group">
                      <strong class="attribute-name">{{localize 'ARCHMAGE.ITEM.meleeAttackBonus'}}</strong>
                      <input class="attribute-input" name="data.attributes.attack.melee.bonus" type="text" value="{{data.attributes.attack.melee.bonus}}"
                          data-dtype="Number" placeholder="0" />
                  </div>

                  <div class="settings-group">
                      <strong class="attribute-name">{{localize 'ARCHMAGE.ITEM.rangedAttackBonus'}}</strong>
                      <input class="attribute-input" name="data.attributes.attack.ranged.bonus" type="text" value="{{data.attributes.attack.ranged.bonus}}"
                          data-dtype="Number" placeholder="0" />
                  </div>

                  <div class="settings-group">
                      <strong class="attribute-name">{{localize 'ARCHMAGE.ITEM.divineAttackBonus'}}</strong>
                      <input class="attribute-input" name="data.attributes.attack.divine.bonus" type="text" value="{{data.attributes.attack.divine.bonus}}"
                          data-dtype="Number" placeholder="0" />
                  </div>

                  <div class="settings-group">
                      <strong class="attribute-name">{{localize 'ARCHMAGE.ITEM.arcaneAttackBonus'}}</strong>
                      <input class="attribute-input" name="data.attributes.attack.arcane.bonus" type="text" value="{{data.attributes.attack.arcane.bonus}}"
                          data-dtype="Number" placeholder="0" />
                  </div>

                  <div class="settings-group form-group" style="padding-top: 10px;">
                      <label>{{localize 'ARCHMAGE.ITEM.defenseBonuses'}}</label>
                  </div>

                  <div class="settings-group">
                      <strong class="attribute-name">{{localize 'ARCHMAGE.ITEM.acBonus'}}</strong>
                      <input class="attribute-input" name="data.attributes.ac.bonus" type="text" value="{{data.attributes.ac.bonus}}"
                          data-dtype="Number" placeholder="0" />
                  </div>

                  <div class="settings-group">
                      <strong class="attribute-name">{{localize 'ARCHMAGE.ITEM.pdBonus'}}</strong>
                      <input class="attribute-input" name="data.attributes.pd.bonus" type="text" value="{{data.attributes.pd.bonus}}"
                          data-dtype="Number" placeholder="0" />
                  </div>

                  <div class="settings-group">
                      <strong class="attribute-name">{{localize 'ARCHMAGE.ITEM.mdBonus'}}</strong>
                      <input class="attribute-input" name="data.attributes.md.bonus" type="text" value="{{data.attributes.md.bonus}}"
                          data-dtype="Number" placeholder="0" />
                  </div>

                  <div class="settings-group">
                    <strong class="attribute-name">{{localize 'ARCHMAGE.ITEM.hpBonus'}}</strong>
                    <input class="attribute-input" name="data.attributes.hp.bonus" type="text" value="{{data.attributes.hp.bonus}}"
                        data-dtype="Number" placeholder="0" />
                  </div>

                  <div class="settings-group">
                    <strong class="attribute-name">Recoveries Bonus</strong>
                    <input class="attribute-input" name="data.attributes.recoveries.bonus" type="text" value="{{data.attributes.recoveries.bonus}}"
                        data-dtype="Number" placeholder="0" />
                  </div>

                  <div class="settings-group">
                    <strong class="attribute-name">Save Bonus</strong>
                    <input class="attribute-input" name="data.attributes.save.bonus" type="text" value="{{data.attributes.save.bonus}}"
                        data-dtype="Number" placeholder="0" />
                  </div>

                  <div class="settings-group">
                    <strong class="attribute-name">Disengage Bonus</strong>
                    <input class="attribute-input" name="data.attributes.disengage.bonus" type="text" value="{{data.attributes.disengage.bonus}}"
                        data-dtype="Number" placeholder="0" />
                  </div>

                  <div class="settings-group form-group" style="padding-top: 10px;">
                      <label>{{localize 'ARCHMAGE.ITEM.chakraSlot'}}</label>
                  </div>

                  <div class="settings-group">
                      <select class="attribute-input" name="data.chackra" data-type="String">
                          {{#select data.chackra}}
                          <option value="none">None</option>
                          <option value="armor" title="Default Bonus: Armor Class">Armor, robe, shirt, tunic</option>
                          <option value="arrow">Arrow, crossbow bolt, slingstone</option>
                          <option value="belt" title="Default Bonus: Recoveries">Belt, swordbelt, kilt, girdle</option>
                          <option value="book">Book, scroll, manual, grimoire</option>
                          <option value="boots" title="Default Bonus: Disengage Checks">Boots, scandals, slippers, shoes</option>
                          <option value="cloak" title="Default Bonus: Physical Defense">Cloak, mantle, cape</option>
                          <option value="glove">Glove, gauntlet, mitt</option>
                          <option value="helmet" title="Default Bonus: Mental Defense">Helmet, circlet, crown, cap</option>
                          <option value="necklace" title="Default Bonus: Save bonus">Necklace, pendant</option>
                          <option value="ring">Ring</option>
                          <option value="shield" title="Default Bonus: Hit points">Shield</option>
                          <option value="staff" title="Operates as both a Wand and a Symbol">Staff (implement)</option>
                          <option value="symbol" title="Default Bonus: Divine Attack and Damage">Symbol, holy relic, sacred sickle (implement)</option>
                          <option value="wand" title="Default Bonus: Arcane Attack and Damage">Wand (implement)</option>
                          <option value="melee" title="Default Bonus: Attack and Damage">Weapon, melee</option>
                          <option value="ranged" title="Default Bonus: Attack and Damage">Weapon, ranged</option>
                          <option value="wondrous">Wondrous item</option>
                          {{/select}}
                      </select>
                  </div>

                  <div class="settings-group form-group" style="padding-top: 10px;">
                      <label>{{localize 'ARCHMAGE.uses'}}</label>
                  </div>

                  <div class="settings-group">
                    <strong class="attribute-name">{{localize 'ARCHMAGE.CHAT.powerUsage'}}</strong>
                      <select name="data.powerUsage.value" data-dtype="{{data.powerUsage.type}}">
                          {{#select data.powerUsage.value}}
                          {{#each equipUsages as |name type|}}
                          <option value="{{type}}">{{name}}</option>
                          {{/each}}
                          {{/select}}
                      </select>
                  </div>

                  <div class="settings-group">
                    <strong class="attribute-name">{{localize 'ARCHMAGE.CHAT.recharge'}}</strong>
                    <input class="attribute-input" name="data.recharge.value" type="text" value="{{data.recharge.value}}"
                        data-dtype="data.recharge.type" placeholder="Numbers only, such as '16'" />
                  </div>

                  <div class="settings-group">
                    <strong class="attribute-name">Uses Remaining</strong>
                    <input class="attribute-input" name="data.quantity.value" type="text" value="{{data.quantity.value}}"
                        data-dtype="data.quantity.type" placeholder="Number of remaining uses, usually the same as Max Uses" />
                  </div>

                  <div class="settings-group">
                    <strong class="attribute-name">Max Uses</strong>
                    <input class="attribute-input" name="data.maxQuantity.value" type="text" value="{{data.maxQuantity.value}}"
                        data-dtype="data.maxQuantity.type" placeholder="Number of uses per battle/day, usually 1" />
                  </div>

              </div>
            </div>
        </section>

    </article>

</form>
